[2017-11-26 16:11] rywem opened #7 "Implement cross platform compatibility - Visual Studio for Mac"
Implement fixes and changes to enable cross platform compatibility with Visual Studio for Mac.

[2017-12-04 04:35] chrisparkerrr opened #10 "Missing XML comments for Neo.SmartContract.Framework project"
While using the nuget package I noticed there were no xml comments whatsoever but in NEO's website, all the API is documented.
It would be nice to have the website docs translated in the XML comments.

Also, are there plans for multilanguage comments?

[2017-12-05 12:48] Audiopolis opened #11 "Contract1.vb still inherits Framework.SmartContract"
The C# template has been changed, but the VB template has not.

[2017-12-06 07:37] luodanwg opened #12 "[syntax sugar]Add support of hashtable"
### Abstract

This is  syntax sugar.with support of hashtable seems much convenience to save/read in smartcontract.

### Motivation

I think use hashTable to save/read  is much convenience , this can reduce the complexity of contract development and easier to understand

### Specification
this is the sample,  if with no hashTable, we have to
[code]
if we have hashTable ,we can use hashTable name =

[2017-12-06 10:47] erikzhang commented on #12
I think the easiest way to use this syntax is:
[code]
Or just:
[code]

[2017-12-07 02:53] lightszero commented on #12
i had add a support
https://github.com/neo-project/neo-devpack-dotnet/pull/13

[2017-12-07 07:37] luodanwg commented on #12
thanks @erikzhang  & @lightszero for the solution of variable storage .
one more thing, we now should get the result in []byte first and convert it to expected types by manual(such as int => AsBigInteger() ) . can we define some Built-in data types. so the data conversion can become automatic. no need to use `AsBigInteger()` any more.

example:
[code]

another requirement ,
I thinks we still have

[2017-12-07 09:25] lightszero commented on #12
one more thing use another issue please.
and we can't implement on neovm now.

[2017-12-07 09:38] erikzhang commented on #12
I think it's possible to implement a storage based hashtable.
[code]
This can be convert into:
[code]

[2017-12-07 15:35] lightszero commented on #12
last transaction will leave some keys if use storage for map,then we need more code to clean keys.

[2018-01-08 08:07] erikzhang commented on #11
fixed in ffdb74ed3bdb413adedaa34d2f61b7dfba81f028

[2018-01-08 08:07] #11 closed

[2018-01-08 08:08] erikzhang commented on #12
It is implemented in d1980fc448d178b88ab57fb5abf151215f67cb59

[2018-01-08 08:08] #12 closed

[2018-02-07 10:35] joeblau commented on #7
I'm looking into how to get this to work for Visual Studio on a Mac as well.

[2018-02-24 04:32] RavenXce opened #16 "Cannot use StorageMap helpers"
The c# compiler seems to be trying to compile the methods in https://github.com/neo-project/neo-devpack-dotnet/blob/master/Neo.SmartContract.Framework/Services/Neo/Helper.cs?

How is it meant to be used?

Code: `storageMap.Get("myaddr");` gives
Error:
[code]
in File: `CONVERTTASK`

[2018-02-24 04:38] RavenXce opened #17 "Add serialize/deserialize methods"
Since https://github.com/neo-project/neo/pull/163 is done, we should add these method calls to the next version of c# devpack.

[2018-03-11 13:23] lightszero commented on #16
this is a sample
        public static object splitStorage(byte[] arg)
        {
            StorageMap account = Storage.CurrentContext.CreateMap(nameof(account));
            byte[] old = account.Get("user1");
            account.Put("user1", arg);
            return old;
        }

[2018-03-16 15:27] ixje opened #19 "Add StorageIterator"
It's added to `neo-project` but not yet in the smart contract framework so can't use it.
https://github.com/neo-project/neo/commit/a234978f2

[2018-03-17 16:44] ixje commented on #19
Note that I've been able to compile a contract with `Storage.Find` using [this fork](https://github.com/neo-project/neo-devpack-dotnet/compare/master...ConjurTech:add-apis) however there seem to be 2 issues

1) The iterator cannot be used in a `foreach` loop due to a missing public definition of `GetEnumerator`
![img](https://imgur.com/gmBbNXA.png)

2) prefix searching doesn't seem to work, return

[2018-03-18 14:19] RavenXce commented on #19
Yes, I believe the implementation of StorageIterator is bugged. I've been meaning to file a separate issue. I think the key prefix should have a length between it and the scriptHash.

[2018-03-22 09:13] #17 closed

[2018-03-22 12:24] ixje commented on #19
Thanks for the quick handling of the bug in https://github.com/neo-project/neo/pull/200 🥇! Looking forward to see this issue resolved so I can finalise the `neo-python` implementation with some cross platform tests

[2018-03-22 21:31] #19 closed

[2018-03-23 10:56] ixje commented on #19
hi @erikzhang, you closed this issue but it's actually not resolved yet. Only the neo core `Storage.Find` implementation is fixed, but this official devpack does not support `Storage.Find` yet so others cannot use it unless they know about and use the fork from @RavenXce / Switcheo https://github.com/neo-project/neo-devpack-dotnet/compare/master...ConjurTech:add-apis

[2018-03-23 13:10] RavenXce commented on #19
I will make a PR since it works correctly now.

[2018-04-29 19:57] saniales commented on #16
I am trying to use Map objects and to save them using `Storage.Put` and calling `.Serialize()` and `.Deserialize()` when needed.

however I run into this error
[code]
The method is
[code]

[2018-04-29 20:00] saniales opened #22 "Cannot use Map [Compiler Error]"
I am trying to use Map objects and to save them using `Storage.Put` and calling `.Serialize()` and `.Deserialize()` when needed.

however I run into this error
[code]
The method is
[code]

Can anybody help me out?

[2018-04-29 20:55] saniales commented on #22
I leave it here as a manifest for future generations
The problem was that I set trade_count as `static uint` class variable. And
here
[code]
I modified it
In brief I removed it and put it in storage
[code]

[2018-04-29 21:42] #22 closed

[2018-06-22 15:21] igormcoelho commented on #16
@RavenXce that must be solved already , but I also added an example for it in examples-csharp repo.

[2018-06-23 07:15] RavenXce commented on #16
Yes, I think we can close this thanks.

[2018-06-23 07:15] #16 closed

[2018-07-26 15:31] blcktqq opened #25 "Cannot serialize struct"
Hi! I'm expecting an issue with struct serialization.  How can I hadle it? Or which info i should provide?
`
System.Exception: unknown call: System.Byte[] Neo.SmartContract.Framework.Helper::Serialize(System.Object)
`

[2018-07-27 03:39] erikzhang commented on #25
Did you try the latest version of compiler?
https://github.com/neo-project/neo-compiler

[2018-12-04 19:31] lock9 opened #39 "Update Visual Studio Version"
Hello,
The current DevPack is not compatible with the latest version of the compiler.

I spoke with @igormcoelho  and it seems that the version I'm using is outdated, but it is the latest available in VisualStudio.
Here is the error:
[code]

Thanks

[2018-12-04 19:33] lock9 commented on #39
I would to ask you guys to please create a development branch too, if possible. Thanks

[2018-12-04 23:22] igormcoelho commented on #39
in fact these last changes are still under development, you probably have the latest version (which is released). Dev branch may be a good idea perhaps, to avoid confusions.

[2018-12-05 16:57] lock9 commented on #39
The compiler was fixed but I can't use it because this. @igormcoelho  do you know who is responsible for publishing this into VS?

[2018-12-12 09:05] erikzhang commented on #39
I just released the latest version (v2.9.3) of the plugin and devpack.

[2018-12-12 09:05] #39 closed

[2019-04-29 09:04] chenzhitong opened #43 "Can't run in VS2019"
![image](https://user-images.githubusercontent.com/6295602/56885968-77e02280-6aa0-11e9-9f6a-e1360a041faa.png)
在 VS2019 中编译智能合约会报错，解决办法是编译 neo-devpack-dotnet 项目，将生成的 Neo.SmartContract.Framework.dll 替换掉原有的文件。

Compile smart contract error in VS2019, solution is to compile the neo-devpack-dotnet project, and replace Neo.SmartContract.Framework.dll file to the existing file.

[2019-04-29 09:05] chenzhitong commented on #43
@steven1227

[2019-05-30 17:10] igormcoelho opened #54 "Fix negative shift operator for BigInteger"
Man, this compiler nearly gave me a heart attack...
This code doesn't compile:
[code]
And this one compiles "fine", but converts shift << -1 to << 31...
[code]
Took some time to realize that: https://github.com/neo-project/neo-vm/pull/167

[2019-05-30 17:12] igormcoelho commented on #54
[code]

[2019-06-03 17:16] igormcoelho commented on #54
When I have some free time I can fix this, but it's not critical. We can just leave it here for a while.

[2019-06-04 08:00] shargon opened #56 "Use the same folder structure as neo-vm"
We should use the same folder structure as `neo-vm`.

[code]

It is easy to configure travis with this configuration, and is more organized

[2019-06-04 15:00] #56 closed

[2019-06-11 11:35] lightszero commented on #54
got it，i will working on it

[2019-06-12 10:57] lightszero commented on #54
@igormcoelho
31 is right.

i will keep working on bigint>>x

[2019-06-16 08:35] #54 closed

[2019-06-29 09:40] lightszero commented on #43
I think this issue can be closed now.

[2019-06-29 09:52] erikzhang commented on #43
@chenzhitong Can you confirm that this issue has been solved?

[2019-06-29 10:34] chenzhitong commented on #43
![image](https://user-images.githubusercontent.com/6295602/60382833-39b0b080-9a9b-11e9-885f-72f3b810caf6.png)

![image](https://user-images.githubusercontent.com/6295602/60382895-58fc0d80-9a9c-11e9-9b6a-ad1d953e3b53.png)

There are still errors, I used the latest neon and neo-devpack-dotnet code

[2019-06-29 10:40] chenzhitong commented on #43
![image](https://user-images.githubusercontent.com/6295602/60382917-bee89500-9a9c-11e9-9a41-afc26b9cca38.png)

This is the error when run neon directly.

[2019-06-30 08:01] lightszero commented on #43
is this pr https://github.com/neo-project/neo-devpack-dotnet/pull/48 ?
need update

[2019-07-31 14:25] lock9 opened #152 "Create NEP-5 template for Neo3"
NEP-5
- [x] Mint tokens based in GAS / Token input
- [x] Transfer tokens to smart contract
- [ ]  Transfer funds from smart contract (verification trigger)
- [ ]  Create new NEP-5 template (reference code)

From Native NEP-5
- [x]  Allow contract to accept Native Gas
- [x]  Allow contract to accept Native Neo
- [ ] Transfer funds to smart contract using MultiSig
- [ ] Withdraw funds from smart con

[2019-08-06 20:58] devhawk opened #77 "gen abi error compiling example smart contracts"
Compiling EventExample, ICO_Template or NEP5 contracts from https://github.com/neo-project/examples/csharp with neon compiler from the master branch of this repo fails with a gen abi error.

Example Output:

[code]

[2019-08-06 21:06] devhawk commented on #77
It appears to be an issues handling the abi generation for events

[2019-08-06 21:22] devhawk commented on #77
It appears that the ILField ctor doesn't fill in the returntype field. The returntype field passed to FuncExport.ConvType by FuncExport.Export, neither of which checks to see if it's null. ConvType attempts to access the string instance in order to call Contains("[]").

Easy fix is to add a null check in ConvType:

[code]

However, not sure if this really fixes the issue. It seems like event ABI g

[2019-08-06 23:23] devhawk opened #78 "neon can't compile netstandard2.0 assemblies"
HelloWorld sample contract from neo-project/examples repo targets .NET Framework v4.6.2. I modified the project file to generate a netstandard2.0 dll and I got the following error results on the console

[code]

[2019-08-06 23:28] devhawk commented on #78
Quick check in the debugger, ModuleConverter.TryInsertMethod is receiving a null Cecil MethodDefinition instance. ModuleConverter._ConvertCall is failing to resolve the method reference to Neo.SmartContract.Framework.Services.Neo.Storage::Put, but the resolve call is inside a try/catch block that swallows the exception, leading to the null ref exception down the line in TryInsertMethod

[2019-08-06 23:54] igormcoelho commented on #77
Is this 2.x branch with 2.x example? I remember having.similar issues in the past, and I think thats why we dont use "dotnet build" system. In fact, only now I'm starting to understand these many different ways to build... we should deginitely fix that

[2019-08-07 19:45] devhawk commented on #77
I tried master and master 2.x. also, while I'm using dotnet build, I'm still targeting .net framework (I opened a separate bug for issues related to compiling for targeting .NET standard).

ILField ctor doesn't process the opcodes, only the metadata about field. So I doubt it's an issue with CIL generation.

[2019-08-08 02:58] lock9 commented on #7
I did a template in #79  if you guys want to check.

[2019-08-08 09:08] lightszero commented on #78
I make some test.I think it is not a bug.

When we build "dotnet framework" project, the depend dll like Neo.SmartContract.Framework.dll  will be copy to same path.
but build "dotnet standard" project,will not copy that file

when we build a "dotnet framework" project we will got

3 files

when we build a "dotnet standard" project we will got

2 files

[2019-08-08 09:18] lightszero commented on #78
I will try to make a better error info in this situation.

[2019-08-08 10:12] lightszero commented on #77
fixed
1. Event no need returntype in nep3
2. no parameters is a bug, a error "else" in code

[2019-08-09 00:57] devhawk commented on #78
Nice to know it's a simple issue. However, instead of forcing the developer to copy the dependency, can we check the nuget global package folder first? https://docs.microsoft.com/en-us/nuget/Consume-Packages/managing-the-global-packages-and-cache-folders

[2019-08-09 01:04] devhawk opened #82 "Distribute neon as a .NET Global Tool"
the current model of distributing the NEON compiler requires many steps for the developer. .NET Core supports [global tools](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools) which are easy to install and automatically are added to the path. Basically, all the developer would have to do would be

[code]

we might also want to change the package name to just "neon"

[2019-08-09 01:08] devhawk opened #83 "There should not be separate versions of NEON for NEO 2 and 3"
having separate versions of NEON targeting NEO 2's VM and NEO 3's VM is going to be difficult for developers to manage. Instead of separate binaries, there should be a command-line switch specifying which VM version the developer is targeting.

As a suggestion, we could follow the model the C# compiler uses for specifying versions. The [langversion](https://docs.microsoft.com/en-us/dotnet/csharp/l

[2019-08-09 02:06] lightszero commented on #78
@devhawk
use “dotnet publish” for netstandard

[2019-08-09 02:07] #77 closed

[2019-08-09 04:56] erikzhang commented on #82
It's a good idea!

[2019-08-09 07:27] shargon commented on #82
i like it

[2019-08-09 10:50] lightszero commented on #43
Build template had be removed.
did you test https://github.com/neo-project/examples ?

[2019-08-10 00:00] devhawk commented on #78
The point here is to make the smart contract build process as natural and familiar to the C# developer as humanly possible.

[2019-08-15 20:54] lock9 opened #84 "Automatically call "Serialize" in Put method (add method overloading to Serialize to support objects)"
Hi,
For a better experience, I think our Storage.Put(key, value) should automatically call .Serialize() if we send an object.
At least the version I have here, it only accepts byte[], meaning we have to call Serialize manually.

[2019-08-16 01:52] lock9 commented on #83
I agree. Maybe we can read it from the manifest file (not sure if we already added that information there)

[2019-08-16 04:40] shargon commented on #84
Auto serialize, but what about deserialization? you need to provide both or is a bad design

[2019-08-16 06:01] lock9 commented on #84
@shargon  but I don't think it is possible to overload the method if we don't add new parameters. How do you plan to solve this? I think we need to leave all issues with at least 2 days in the design phase otherwise we may face these problems.

[2019-08-16 22:19] igormcoelho commented on #84
We can provide both @shargon, it's just a Storage.Get<T> where user specifies the type.

[2019-08-17 06:31] shargon commented on #84
but this will work in the compiler?

[2019-08-17 15:06] igormcoelho commented on #84
Its not a compiler "thing".. both cases are just C# syntactic sugar for the underlying Serialize calls. The serialization is handled by annotation on top of the struct, and a method call. This method call be implicit in my opinion.

[2019-08-21 09:55] shargon opened #85 "Problems publishing an exe file"
Using this guide https://dotnetcoretutorials.com/2019/06/20/publishing-a-single-exe-file-in-net-core-3-0/

[code]

I obtained the error as shown below

[code]

Also, we should provide releases for make this procedure easier for devs

[2019-08-21 10:09] shargon opened #86 "Add support to 'long' switch statements"
There is a problem with the `switch` instruction, it seems that works if we have less entries than 6, with more, it doesn't works.

I made a pull request for test this issue at, https://github.com/neo-project/neo-devpack-dotnet/pull/87

if you comment some entries, the test will work

[2019-08-21 11:29] shargon opened #88 "StorageMap optimizations"
In every get, put, or delete, we convert the `string` to `byte[]` and concat it with the prefix `0x00`, is better to concat this at the initialization, only once.

Also should be added two overloads, for allow one `byte` and `byte[]` parameters

https://github.com/neo-project/neo-devpack-dotnet/blob/cbb3ca1518a7d3757456cced98f1d45b0e2b1b02/src/Neo.SmartContract.Framework/Services/Neo/Helper.cs#L18

[2019-08-22 07:11] superboyiii opened #91 "Neon compiler isn't ready for NEO3 contract deployment"
Find many issues need to be fixed in neon complier since it doesn't sync to the latest  neo3 vm.
It's necessary for deploying contract on neo3.
![image](https://user-images.githubusercontent.com/38493437/63493792-f26cfc00-c4ee-11e9-95c4-9371189994d4.png)

[2019-08-22 08:28] erikzhang commented on #88
Why we need those `0`s?

[2019-08-22 08:32] erikzhang commented on #86
It is because the CLR uses hash table to optimize the `switch` segment. And there is no native support for that hash table in NeoVM.

[2019-08-22 10:50] shargon commented on #86
There is not possible to convert this hash table into a jump table?

Pseudocode:

[code]

[2019-08-22 10:55] shargon commented on #88
We don't need it, i just copied it, but we can remove this 0 too

[2019-08-22 15:59] shargon commented on #86
dnSpy decompile the source as:
[code]

[2019-08-22 17:17] lock9 commented on #84
Ok @igormcoelho , I'm good with that:
Auto "serialize" and being able to use `Storage.Get<T>`
I'm moving this to ready to implement since more than 2 days have passed and it looks decided

[2019-08-22 17:49] shargon commented on #84
And what's happen if i store an `int`, and read it as `get<MyClass>` ?

[2019-08-23 09:47] erikzhang commented on #91
I can compile it well.

[2019-08-23 09:51] superboyiii commented on #91
That's great!

[2019-08-23 10:02] erikzhang commented on #86
You need to implement `<PrivateImplementationDetails>.ComputeStringHash()` in NeoVM to support `switch`.

[2019-08-23 10:57] shargon commented on #86
@lightszero do you think that this is feasible?

[2019-08-23 13:35] shargon commented on #88
Shall i remove these 0s?

[2019-08-24 04:27] erikzhang commented on #88
If they are useless, we should remove them.

[2019-08-24 06:46] shargon commented on #88
Done

[2019-08-25 14:04] lightszero commented on #86
as eric said. ComputeStringHash is a sad story.

I can't got "aa" form IL in current convert solution(current solution is use Mono.cecil to conv IL -> AVM).

add switch support need to use another cconvert solution(maybe add some rosyln part).

[2019-08-25 17:41] igormcoelho commented on #84
for `int`, `long`, `short`, we should treat like `BigInteger`, and invoke its serialization/deserialization.

[2019-08-25 17:59] igormcoelho commented on #83
We need to see if this is feasible @devhawk... perhaps changes for Neo 3 will require too many changes on compiler, even structural ones. This will depend on next steps on VM side.

[2019-08-26 07:08] erikzhang commented on #86
@lightszero We can add `ComputeStringHash()` on Interop.

[2019-08-26 14:43] lightszero commented on #86
C# 's stringhash is different with java,so we need many stringhash interop.

[2019-08-26 14:59] shargon commented on #86
I understand the problem ... if we receive a compilation error, is enough to me

[2019-08-26 15:08] shargon commented on #86
@lightszero could you check why here https://github.com/neo-project/neo-devpack-dotnet/pull/87/files#diff-38aefe612b09c5f19d1ec205b952b39cR19 is not throwed any exception?

[2019-08-26 15:13] shargon commented on #86
And is possible to generate this method on runtime, without a syscall, and just call it?

[code]

[2019-08-26 16:30] shargon commented on #86
@lightszero this is something crazy?

Try to detect the call, and redirect to another one loaded in the framework
https://github.com/shargon/neo-devpack-dotnet/pull/2

[2019-08-27 14:45] erikzhang commented on #86
Calling the generated `ComputeStringHash()` in the runtime is too expensive.

[2019-08-27 15:00] shargon commented on #86
I agree with you @erikzhang
Changed https://github.com/neo-project/neo-devpack-dotnet/pull/87 to detect and improve the exception and finished the unit tests to make it easy for developers to discover why this does not work

[2019-08-27 15:21] #88 closed

[2019-09-05 00:39] devhawk commented on #83
@lightszero and I discussed this issue over lunch. We agreed between the two of us that the best developer experience would be to have a single NEON tool that worked for NEO 2 and 3. This does make the NEON tool more complex than two separate tools, but provides a better experience for the developer using the tool.

My thinking is that by default NEON would target NEO 2 and developers could opt in

[2019-09-05 00:49] shargon commented on #83
But you are teaching different things to the developers, you are teaching, for the compiler you can use the same tool, for the node don't, for the explorer don't, for the wallet don't... strange, i think that all separated is not a bad idea.

If the user need to change the expected behavior according to the project, is confusing

[2019-09-05 02:05] devhawk commented on #83
Developers are used to this - especially .NET developers. There aren't separate versions of the C# compiler for .NET Framework, .NET Core and Mono.

[2019-09-05 03:15] devhawk commented on #83
master branch version of NEON has three dependencies on code in NEO.dll/NEOVM,dll:

* Neo.VM.OpCode
  * Since the list of opcodes is [documented and standardized](https://github.com/neo-ngd/NEO3-Development-Guide/tree/master/en/NeoVM#instructions), it seems reasonable to have a copy of the OpCode enum in the compiler.
* Neo.Cryptography.RIPEMD160Managed
  * Since RIPEMD160 is a well known cryptogr

[2019-09-05 05:58] devhawk commented on #83
Draft PR that eliminates NEON dependency on NEO and NEO.VM: #104

[2019-09-05 06:01] devhawk commented on #82
I'm going to make a series of changes to enable NEON to target NEO 2 and 3 + the generate debug info for neo-debugger. I will do enable NEON to be a global tool as part of that work

[2019-09-05 07:25] erikzhang commented on #83
Can we create tools for neo3 only?

[2019-09-10 20:16] lock9 commented on #85
@shargon  the project must be updated to use `runtime.win.System.IO.FileSystem 4.3.0` directly.
It is just a matter of adding this dependency and the problem will disappear.

[2019-09-10 20:31] lock9 commented on #91
@superboyiii  can you double check? I believe it has been fixed (I used it in Shanghai). I was able to compile and deploy a simple smart contract without issues.

[2019-09-11 11:50] #85 closed

[2019-09-11 13:51] lock9 commented on #86
@shargon  will #87 close this issue?

[2019-09-11 15:02] steven1227 commented on #83
@erikzhang From the perspective of customer (Developers) of NEO blockchain, it is better to have a single neon compiler that can target neo 2 and neo3. There is still a large number of developers and projects that are developing NEO 2 SC/Dapps and for a long time before the official launch. And for the related tools such as neo-toolkit and neo-expressNode, their target is the developers for both 2

[2019-09-11 18:31] lock9 commented on #83
Hi everyone.
I agree that we shouldn't invest too much energy in Neo 2, but I believe that this feature is a "migration" issue, that is why it is needed.

We can use both .NET Core 2.1 and 2.2 in the same machine, just by changing the configuration, therefore, I'm in favor of having a single distribution including Neo 2 and Neo 3.
It will be easier for people to migrate their projects, and I also

[2019-09-12 02:58] devhawk commented on #83
I agree with @erikzhang that we "should not spend too much energy". But we shouldn't spend zero. It would be pretty easy to package the NEO2 version of NEON in a DLL and have the NEO3 version call the NEO2 Program.Main entrypoint if specifies neovm version 2. We would need to change the assembly name and namespace to avoid naming conflicts with neon 3 assembly and type names, but that's not very m

[2019-09-13 05:02] lightszero opened #108 "Need asm for neovm."
we had a asm

https://github.com/neo-project/neo-compiler/tree/master/neoa,but that project had be closed.

maybe create a project repository "neo-devpack-asm".

@erikzhang

and I want to create a middle layer for compilers,like llvm.

maybe can create a project repository "neolinker",

all compilers just need to compiler code to a middle format,then call neolinker to get .avm

[2019-09-14 09:31] superboyiii commented on #91
Hi, Rick. I made a simple contract and complie it successfully within neon.dll but it isn't able to be deployed on neo-cli. Here's my contract content:
[code]

[2019-09-14 10:36] shargon commented on #91
Deploy require the manifest, we need to upgrade the compiler for generate both, abi and manifest
So in neo-cli, the second param must be a valid json (manifest)

[2019-09-15 00:07] igormcoelho commented on #108
@lightszero one alternative to re-write llvm is to simply adopt llvm via wasm... some time ago I experimented with converting C++ -> LLVM -> wasm, and I believe we can convert wasm to NeoVM.
So we could do: C++ -> LLVM -> wasm -> neovm.
Some prototype is here already: https://github.com/neoresearch/neodev-cpp

[2019-09-15 10:45] superboyiii commented on #91
How could I turn sc dll to manifest json? I could only get nef file and abi.json from compiler.

[2019-09-17 07:49] lightszero commented on #108
@igormcoelho  I think llvm-> neovm is another project,that is useful too.
I just want create a compiler middlelayer for our self neo-devpack-dotnet and neo-devpack-java and python maybe.

[2019-09-17 08:02] shargon commented on #91
@superboyiii please, take a look to these pull request

https://github.com/neo-project/neo-devpack-dotnet/pull/109
https://github.com/neo-project/neo-cli/pull/463

[2019-09-18 15:16] shargon opened #112 "OOM abusing large arrays"
Problem

Local out of memory abusing large arrays

![image](https://user-images.githubusercontent.com/3167973/65159945-33482a00-da35-11e9-84cf-a8451ed63fcd.png)

Also, the constructor's detection need to be improved because is bypaseable using `cctor` as class name

![image](https://user-images.githubusercontent.com/3167973/65159913-21ff1d80-da35-11e9-8c6d-5063b8a02109.png)

POC:

[code]

[2019-09-19 09:54] superboyiii commented on #91
@shargon  Now I tried to deploy a nep-5 demo on NEO3. I find some issues.

1. I wrote a nep5 sc based on the latest sc framework 2.9.3.0
[code]

2. Compile it and get nef file and manifest.json file
![image](https://user-images.githubusercontent.com/38493437/65233534-8ee1e880-db05-11e9-9063-075add8e7100.png)

3. deploy it   successfully and invoke "deploy" method successfully, too. But I'm not abl

[2019-09-19 10:31] shargon commented on #91
A lot of syscalls are pending to be  updated.

Please check https://github.com/neo-project/neo-devpack-dotnet/pull/106 if you are using one of them

[2019-09-19 10:44] superboyiii commented on #91
Wow, got it.

[2019-09-24 07:23] #112 closed

[2019-09-26 13:42] lightszero commented on #108
it looks like
[code]

[2019-10-18 09:08] #91 closed

[2019-10-19 14:40] shargon opened #114 "NULL Opcode compatibility"
Currently with the last changes of NEON, the null's checks doesn't work as expected and the compiler need to be updated according to this changes

The next code is compiled as

![image](https://user-images.githubusercontent.com/3167973/67146798-e4d5b780-f28e-11e9-8260-d184dc416dec.png)

ILCode

![image](https://user-images.githubusercontent.com/3167973/67146795-dedfd680-f28e-11e9-9ad9-457ef9e8c6a8

[2019-10-20 04:03] lightszero commented on #86
we can add some simple method for switch.
after of all,we can touch the contract c# sourcecode.
If we can't get info from IL,then we got it from sourcecode.
we can got all string in sourcecode.and save all of it.

then we got a Hash in IL,we can knwon the string.

[2019-10-20 09:13] lightszero commented on #86
no need to touch contract c# sourcecode
I study IL switch pattern，how it can work after delete hashpart。

[2019-10-20 09:30] shargon commented on #86
Thanks @lightszero ! amazing work!

[2019-10-29 17:37] devhawk opened #120 "NEON doesn't generate correct ABI information for events with type parameters"
If the delegate is specified without type parameters, the abi.json file gets the correct ABI information

[code]
[code]

If the event is specified with a delegate using type parameters, the ABI information is missing

[code]
[code]

[2019-10-30 03:13] erikzhang commented on #120
@lightszero can you check it?

[2019-10-30 03:37] lightszero commented on #120
i will check it

[2019-10-31 13:18] lightszero commented on #120
@devhawk we have a unittest called UnitTest_ABI_Event.cs wtih System.Action
but it workd,can you give more info about this?

[2019-10-31 22:07] devhawk commented on #120
I'm using the master-2.x branch, which doesn't have that test. Did we add code to support generic event delegates in the master branch?

If this is only an issue for the 2.x branch, I'm cool with closing the issue w/o fixing it.

[2019-11-04 13:56] lightszero commented on #120
got it.I will fix it in branch 2.x too

[2019-11-04 16:48] devhawk opened #123 "NEON should raise a compile error when encountering an event with a return value"
As per [NEP-3](https://github.com/neo-project/proposals/blob/master/nep-3.mediawiki#event), in smart contracts do not have return types. NEON should fail to compile contracts that have event delegates with return values

[2019-11-05 21:05] lock9 opened #126 "Neo 2 devpack not passing tests"
**How to reproduce:**
- Clone neo-devpack-dotnet
- Checkout master-2.x
- Open the solution
- Run MSIL Unit tests

Result:
![image](https://user-images.githubusercontent.com/38396062/68246014-c1cd3680-fff6-11e9-9bc8-6820b7cee82d.png)

I managed to fix some tests (the problem was the dll name was misconfigured), but now I have a much bigger concern: the code is actually broken.
This works:

[code]
B

[2019-11-05 23:35] devhawk opened #128 "NEON writes out manifest file with storage and payable false, regardless of what contract needs"

[2019-11-06 00:16] lock9 commented on #126
Tests are passing in #127. I don't know, but I think that this was caused by using the code reference. Maybe we have an issue in the latest version of the compiler  or VM?

[2019-11-06 04:09] lightszero commented on #126
https://github.com/neo-project/neo-devpack-dotnet/pull/122#issuecomment-549934301

[2019-11-06 07:11] #123 closed

[2019-11-07 05:20] lock9 commented on #126
Thanks @lightszero

[2019-11-07 05:46] #126 closed

[2019-11-07 19:36] lock9 commented on #43
This was fixed on #121

[2019-11-08 03:43] #43 closed

[2019-11-08 18:02] shargon opened #132 "Neon should be able to compile from the source"
For developers we have two steps in order to compile from a c# code.
- First we need to compile the c# into .net assembly.
- Then compile it in neon.

I want to allow neon to do all in one step.

Proposed solution: https://github.com/neo-project/neo-devpack-dotnet/pull/131

[2019-11-09 07:37] #128 closed

[2019-11-09 09:36] erikzhang commented on #132
https://github.com/neo-project/neo-devpack-dotnet/blob/a75cad579e00a1429ead5f9103917b6922791d5b/tests/Neo.Compiler.MSIL.UnitTests/Utils/NeonTestTool.cs#L49

With these codes, I think it is possible.

[2019-11-09 10:16] shargon commented on #132
Yes, I copied this code into https://github.com/neo-project/neo-devpack-dotnet/pull/131

[2019-11-09 10:28] shargon commented on #7
Is not compatible with mac right now?

[2019-11-09 13:37] lightszero commented on #132
I think we need add a build function from .csproj.
build from single cs file is useful too.
we can keep them both.

[2019-11-09 15:59] shargon commented on #132
I will add this feature too

[2019-11-09 16:08] shargon commented on #132
Any package for reading the `csproj`?

[2019-11-09 16:21] lightszero commented on #132
i have a project to do that，i will find it tomorow

[2019-11-09 16:25] lightszero commented on #132
https://github.com/lightszero/sharp2typescript/blob/master/CodeConverter/Convert.cs

see AddProject
it use Buildalyzer for read csproj and support for rosyln.

[2019-11-17 14:18] #132 closed

[2019-11-17 18:36] lock9 commented on #7
It works fine now. I will close this. Thanks.

[2019-11-17 18:36] #7 closed

[2019-11-17 18:38] lock9 commented on #78
I think that this is working. Can you check @devhawk ? At least I tested with #131  and it worked fine using .net standard. Thanks.

[2019-11-18 14:52] devhawk commented on #78
Yes, I was able to compile the hello world contract to NEF from build artifacts alone using master branch of this repo. Can we port this back to master-2.x branch?

[2019-11-18 15:03] shargon commented on #78
Which was exactly the change for allow this?

[2019-11-18 16:59] lock9 commented on #120
Hi @devhawk, this was fixed by #122. Can we close this? Thanks.

[2019-11-18 17:10] devhawk commented on #120
fine by me

[2019-11-18 18:05] #120 closed

[2019-11-25 07:29] lock9 commented on #78
@shargon  can we port #131 to 2.x?

[2019-11-25 08:37] shargon commented on #78
Yes, I will

[2019-12-02 14:25] erikzhang opened #143 "Need to remove conditional compilation"
https://github.com/neo-project/neo-devpack-dotnet/blob/63e90e567b50c41d1f4e1d621830ebc4020cbf9f/src/Neo.Compiler.MSIL/MSIL/Converter.cs#L46

https://github.com/neo-project/neo-devpack-dotnet/blob/63e90e567b50c41d1f4e1d621830ebc4020cbf9f/src/Neo.Compiler.MSIL/MSIL/Converter.cs#L1145

https://github.com/neo-project/neo-devpack-dotnet/blob/63e90e567b50c41d1f4e1d621830ebc4020cbf9f/src/Neo.Compiler.MSI

[2019-12-02 14:47] lock9 commented on #143
@erikzhang  do you think we should remove  #if NET47 from all projects? Is it done already? I don't remember if we removed .net framework 4.7 completely or not.

[2019-12-03 01:57] erikzhang commented on #143
I'm sure we have no NET47 any more. The last .NET Framework project is neo-gui, which has been ported to .NET Core 3.0.

[2019-12-03 10:43] Qiao-Jin opened #168 "Smart contract doesn't support object array"
It seems that neo-compiler & neo-vm don't support object array in smart contract currently, i.e.

[code]

The simple smart contract will report an error if built in release mode:

[code]

After researching I found out this is due to some lack of functionality in func `neo-compiler\neon\MSIL\Converter.ConvertCode`:

[code]

This piece of code is commented out because VM.OpCode.SWITCH and correspond

[2019-12-04 21:21] devhawk opened #144 "Include contract metadata in .abi.json file (master-2.x branch)"
I propose including contract deployment information in the .abi.json file generated by NEON compiler. NEON could retrieve this information from assembly attributes specified in the C# source code (and provide reasonable defaults if the values are not specified).

By declaring this information in source, we reduce the information needed at deployment time, making it easier to automate deployment vi

[2019-12-05 02:20] lock9 commented on #144
I think this is a good idea.
@neo-project/core  can @devhawk  continue to implement this?

[2019-12-05 10:29] shargon commented on #144
I like it

[2019-12-05 11:45] superboyiii opened #147 "Invoke deploy method on nep5 sc, return fault (latest master)"
Using the latest master branch of neo. neo-vm, neo-cli, neo-devpack-dotnet, I tried to deploy a nep-5 sc on my privnet, it was built and deployed successfully.
![image](https://user-images.githubusercontent.com/38493437/70230517-78a60900-1793-11ea-995a-d6d76b914e15.png)
![image](https://user-images.githubusercontent.com/38493437/70230570-95424100-1793-11ea-94e2-6468ae746a42.png)
I also invoke stat

[2019-12-05 12:16] erikzhang commented on #147
Do we still need `Main()`? Doesn't the compiler automatically generate entry points for us?

[2019-12-05 14:45] #147 closed

[2019-12-05 16:52] devhawk commented on #144
I will work on an implementation then.

[2019-12-05 17:16] erikzhang commented on #144
Please, don't change 2.x any more. We need to focus more on 3.0.

[2019-12-05 18:05] shargon commented on #144
This could be implemented in neo3

[2019-12-05 19:51] devhawk opened #149 "Generate Debug Info needed for neo-debugger in NEON (2.x branch)"
The first version of this code is available in the [neon-de fork](https://github.com/ngdseattle/neo-devpack-dotnet) but that format needs to be improved and the code needs to be moved over to the official neon compiler

[2019-12-05 19:51] devhawk opened #150 "Generate Debug Info needed for neo-debugger in NEON (3.x branch)"
This is the 3.x version of #149. FYI, this work will start in the Neo3 preview timeframe

[2019-12-05 23:41] devhawk commented on #144
@erikzhang developer tools are currently blocked waiting on a preview release of neo 3 that support contract deployment. In the meantime, I need to continue to make progress on Neo 2 developer tools.

@shargon Neo 3 doesn't need this - the new manifest serves a similar purpose.

[2019-12-05 23:51] devhawk opened #151 "Port Contract metadata attributes to master branch"
#148 adds new custom attributes to allow developers to specify that their contract uses storage or dynamic invoke. NEON for neo 3 should support these attributes unless the compiler can determine the need for storage/dynamic invoke automatically

[2019-12-05 23:54] devhawk commented on #144
I filed #151 to track porting whatever parts of this work are needed by Neo3

[2019-12-06 00:47] devhawk commented on #144
FYI, my understanding is that NEON for neo 3 generates a manifest that contains this contract metadata. If we would rather have someone from @neo-project/core backport manifests to Neo 2, I'm fine with that approach as well.

[2019-12-06 15:48] devhawk opened #153 "Use a Command Line Processing Library for NEON (master + master 2.x)"
As NEON evolves, it would be useful for it to support more command line options. Instead of manually processing these options, we should use a library.

Possible library suggestions:
* [natemcmaster/CommandLineUtils](https://github.com/natemcmaster/CommandLineUtils) - a mature command line processing library originally forked from now-defunct  Microsoft.Extensions.CommandLineUtils project. Neo-Exp

[2019-12-06 15:51] devhawk commented on #153
IMO, dotnet/command-line-api has a ton of promise but is simply to early in it's development. I suggest we use natemcmaster/CommandLineUtils.

[2019-12-06 17:32] shargon commented on #153
I tried in the past, but we only receive one parameter and was removed https://github.com/neo-project/neo-devpack-dotnet/commit/821304c2fd82f53bb48985a43ff1e8a6a01e576f#diff-60ea751d2c3b42b8832fdf636c718f42R7

[2019-12-06 22:09] #144 closed

[2019-12-10 02:43] devhawk commented on #153
I would like to add parameters that control debug info output. And master-2.x branch has the one parameter (note, this issue is listed as affecting master 2.x and master branches)

[2019-12-10 16:32] devhawk opened #157 "Add support to 'long' switch statements for master-2.x"
Port #86 to master-2.x branch

[2019-12-10 16:40] devhawk opened #158 "Unify master-2.x contract metadata attributes with master branch"
Master branch has added `FeatureAttribute` while master-2.x has ContractHasStorage/ContractHasDynamicInvoke/ContractIsPayable. Need to change master-2.x to match master branch

[2019-12-10 16:46] devhawk opened #159 "Update master-2.x branch NEON to .net core 3.1 and pack as a dotnet tool"

[2019-12-10 19:43] shargon opened #160 "Negative shift with integers"
I think not allowing negative numbers in SHL / SHR is not enough (https://github.com/neo-project/neo-vm/commit/8f19980e34b2094477d6470162ef447a569ecaf4).

The compiler is doing the shift with 31 when it's -1. I tried with this smart contract

[code]

And this is the summary.

### With integer:
#### IL

![image](https://user-images.githubusercontent.com/3167973/70562956-a58c5e80-1b8d-11ea-8d7e-6b1b

[2019-12-10 20:00] devhawk commented on #158
@shargon I'd appreciate your thoughts on this issue. I started to do this, but I ran into a few incompatibilities:

* FeaturesAttribute is applied to a class while all of the contract attributes I added are applied to the assembly. As far as I understand, NEON doesn't support multiple contracts in a single managed dll - at least for 2.x. If that's the same for NEON 3.x, should FeaturesAttribute be

[2019-12-10 20:02] shargon commented on #158
Yes, I think so.

Don't worry about that, it's ok for me

[2019-12-10 20:09] shargon commented on #158
Seems weird to me with smart contracts with one file.

[code]

[2019-12-10 20:21] shargon commented on #158
Please @devhawk , Take a look to https://github.com/neo-project/neo-devpack-dotnet/pull/161

[2019-12-10 20:21] devhawk commented on #158
Not all contracts are a single file: https://github.com/Moonlight-io/moonlight-ico-template
What would it mean for you to apply the features attribute to the [NEP5 class](https://github.com/Moonlight-io/moonlight-ico-template/blob/master/ICOTemplate/Token/NEP5.cs) but not the [main entrypoint class](https://github.com/Moonlight-io/moonlight-ico-template/blob/master/ICOTemplate/ICOTemplate.cs)?

[2019-12-10 20:25] devhawk commented on #158
@shargon I like #161. Note also that I have a [task open](https://github.com/ngdseattle/neo-templates/issues/1) to add these attributes for the neo contract templates. So developers starting from scratch will know how to add them.

[2019-12-10 20:29] devhawk commented on #158
@shargon I have https://github.com/devhawk/neo-devpack-dotnet/tree/devhawk/FeaturesAttribute ready to go, but I will wait on submitting that for PR until this one goes thru.

[2019-12-10 21:13] devhawk commented on #151
Closing as #129  already handles this

[2019-12-10 21:13] #151 closed

[2019-12-11 01:10] devhawk opened #163 "Update master 2.x version numbers for NEON and Smart Contract Framework"
We need to ship a new version of NEON (packaged as a global tool as per #159) and the smart contract framework. As part of that release, these packages need new version numbers. Since these tools are in maintenance mode, I believe we should continue to update the version numbers manually.

- current version of Neo.SmartContract.Framework is v2.9.3.1. I recommend moving to v2.10
  - as per [Semanti

[2019-12-11 01:14] devhawk commented on #143
Even if neo-gui was still on .NET Framework, that shouldn't block NEON from targeting .NET core only

[2019-12-11 01:15] devhawk commented on #86
Can we port this to master-2.x?

[2019-12-11 01:23] devhawk commented on #82
FYI, I am going to do this w/o the changes to enable targeting Neo 2 and 3 from a single NEON exe

[2019-12-11 04:02] erikzhang commented on #82
I have tried to publish with `/p:PublishSingleFile=true` and `/p:PublishTrimmed=true`, but it still generates huge exe.

[2019-12-11 04:18] devhawk commented on #82
I just built [my soon-to-pr fork](https://github.com/devhawk/neo-devpack-dotnet/tree/devhawk/neonGlobalTool) locally and the resulting nupkg is about 300kb.

[2019-12-11 10:04] shargon commented on #86
Yes, I think so

[2019-12-11 10:05] shargon commented on #86
Also, this issue should be closed and create a new one https://github.com/neo-project/neo-devpack-dotnet/issues/157

[2019-12-11 10:05] #86 closed

[2019-12-11 22:19] devhawk commented on #149
Fixed by #154

[2019-12-11 22:19] #149 closed

[2019-12-12 08:58] shargon commented on #168
Try with
states =new State[1];
states[0] =s ;

[2019-12-12 09:19] Tommo-L commented on #168
It works well.
![image](https://user-images.githubusercontent.com/43396869/70698682-ed80c200-1d02-11ea-8998-f05effd8d91d.png)

But the following case will fail.
![image](https://user-images.githubusercontent.com/43396869/70698869-36d11180-1d03-11ea-92d7-6a688ec2b950.png)

Do we need to design a Neo contract language? 😂

[2019-12-12 09:35] shargon commented on #168
Of course not, but for fix it we need to find the root cause

[2019-12-12 09:40] Qiao-Jin commented on #168
After refining code to avoid above situation still exception will be thrown in line `BasicMethods.DynamicCallContract dyncall = (BasicMethods.DynamicCallContract)result.ToDelegate();`

[code]
where _peerAddr1 & _peerAddr2 are pre-defined byte arrays, BasicMethods.DynamicCallContract is defiend as follows:
`public delegate object DynamicCallContract(string method, object[] args);`

[2019-12-12 10:17] Qiao-Jin commented on #168
Even such code will throw an error.
[code]

[2019-12-13 22:56] #159 closed

[2019-12-13 22:56] #82 closed

[2019-12-13 22:57] #163 closed

[2019-12-13 22:57] #158 closed

[2019-12-17 20:18] shargon opened #173 "Debug neon in master2x"
@devhawk I was not able to debug neon in master 2x after merge https://github.com/neo-project/neo-devpack-dotnet/pull/166 , maybe we need to define

`<TargetFramework>netcoreapp3.1</TargetFramework>` as default in the csproj.

I need to do these changes if I want to debug it

![image](https://user-images.githubusercontent.com/3167973/71030960-bd765c00-2112-11ea-92b7-3626e1954553.png)

[2019-12-17 21:14] devhawk commented on #173
I'll take a look

[2019-12-18 05:15] #173 closed

[2019-12-18 17:13] #143 closed

[2019-12-24 03:00] superboyiii opened #177 "Make Neo.Compiler.MSIL compatible with latest neo-vm"
Since neo-vm has changed a lot on Opcode (https://github.com/neo-project/neo/pull/1374), it's time to adjust `Neo.Compiler.MSIL` to the latest neo-vm.
[code]

[2020-01-01 09:00] lightszero commented on #168
1.can't got release error on unittest.
2.for default we talk about 3.0,if had some 2.0 problem, write 2.0 in title

[2020-01-09 19:31] #157 closed

[2020-01-09 19:32] #78 closed

[2020-01-10 09:45] lightszero opened #181 "Update neo-devpack-dotnet for new opcode and slots"
NEOVM had some change:
1.redesign opcodes
2.delete altstack and add some slot.

I am working on it.

[2020-01-14 08:53] lightszero commented on #160
that's hard, we process that on il,it's already had be change to 31.

[2020-01-14 08:58] Tommo-L opened #184 "Two convert cases will fail"
### One case

[code]

Then the compiler will throw the following exceptions

[code]

But if we rewrite the code as following, it will be compiled successful.

[code]

### Another case

[code]
![image](https://user-images.githubusercontent.com/43396869/72323155-ffc79480-36e2-11ea-887b-d566ffdcc868.png)

#### How to solve it?
One way is to add `null` support in vm `Opcode.GT`.

Another is to add a c

[2020-01-14 10:19] lightszero commented on #184
[code]
this is a bad case
k is
[code]
It is complicated

[2020-01-14 10:21] lightszero commented on #184
[code]
this is a bad case too
[code]
it is a bad story too.

[2020-01-14 10:24] #184 closed

[2020-01-14 10:25] Tommo-L commented on #184
😂 got.

Maybe the compiler throw exception is better than neovm executed faliure.

[2020-01-14 12:03] shargon commented on #160
We can close it because we don't allow negative shift

[2020-01-14 12:03] #160 closed

[2020-01-15 06:25] nicolegys opened #185 "Getnep5balances, balance won't change when a transaction is not `transfer`."
**Describe the bug**
Getnep5balances, balance won't change when a tx is not `transfer`. Then, make a `transfer` tx, the gas balance value will return to normal.

**To Reproduce**
1.open wallet 6.json, deploy a smartcontract, list asset, gas balance = 8.9850761
![image](https://user-images.githubusercontent.com/43694095/72409907-06691100-37a2-11ea-8f36-148b63d67b58.png)

2.rpc getnep5balances, gas

[2020-01-15 06:26] nicolegys commented on #185
@Tommo-L Could you take a look at this issue?

[2020-01-15 08:56] #185 closed

[2020-01-20 13:21] #181 closed

[2020-01-21 05:35] lightszero commented on #150
we can't make the debug info standard quilkly.
how about we add a plugin interface for neon.so can add debuginfo plugin for neon.
what do you think?

[2020-01-21 16:48] devhawk commented on #150
I'm fine with that, though it doesn't seem worth it. I tried reaching out to several of the other language implementations (neo-one and neo-python in particular) and got zero feedback. Unless there are changes to the format needed for neo3 support, it seems simpler to just add that to neon directly.

[2020-02-20 03:09] lightszero opened #190 "split Neon.compiler.MSIL to 2 project"
Neo.compiler.MSIL -> dll
Neo.compiler.MSIL.CIL -> exe

what do you think?

[2020-02-20 08:14] shargon commented on #190
As compilers (executable) or libreries? `Neon` or `Neo`?

[2020-02-20 08:33] lightszero commented on #190
cil project depends on dll project。
Neo

[2020-02-20 15:15] djnicholson opened #191 "Make templates slightly more advanced (e.g. have more than one method; have a method that returns a value)"

[2020-03-04 10:28] superboyiii opened #195 "AsByteArray() isn't able to convert BigInteger to ByteArray"
When I test nep5 sc, I'd like to put 0 into account storage when balanceOf return null, so I write as below:
[code]
Then I found this `byteZero` is not a byteArray but still return BigInteger 0 which cause RPC getBalance return 0 if one of addresses in a wallet doesn't have balance.
Then I tried another style, it works well.  This means `AsByteArray()` here isn't work normally.
![image](https://us

[2020-03-04 10:49] Tommo-L commented on #195
Currently, the `AsByteArray` is an empty script.
https://github.com/neo-project/neo-devpack-dotnet/blob/adf942550c5dd2defa8440038f8a2daad145d630/src/Neo.SmartContract.Framework/Helper.cs#L50-L55

I think there are two options:
option1: Add a new opcode `Cast` for converting.
option2: Add a new method `AsByteArray` in `StackItem`.

[2020-03-04 12:58] shargon commented on #195
we have the CONVERT opcode, we can use it

[2020-03-04 13:53] lightszero commented on #195
'CONVERT', that's new for me.sounds it fit this issue.

[2020-03-05 04:42] lightszero commented on #195
I had create a unittest, it worked.
[code]

[2020-03-05 08:52] lightszero commented on #190
what do you think.

split the code

Neo.compiler.MSIL.dll ( net standard)

Neo.compiler.MSIL.CLI.exe(net core)

@shargon @Tommo-L

[2020-03-05 08:58] Tommo-L commented on #190
For me, it's ok.  If both are sub-projects of `neo-devpack-dotnet`.

[2020-03-05 09:07] erikzhang commented on #190
Why?

[2020-03-05 09:31] lightszero commented on #190
some project need compiler service.
after split,they can just reference the dll  without hack
like nuget install Neo.compiler.MSIL.dll ( net standard).

[2020-03-06 03:40] erikzhang commented on #190
But exe can be referenced too.

[2020-03-06 13:30] lightszero commented on #190
good point...ORZ

[2020-03-10 15:31] djnicholson opened #197 "Some VB.Net programs crash the neon compiler (particularly when method return types are implicit)"
This compiles fine:

[code]

This compiles into MSIL but then crashes the neon compiler:

[code]

Compiler output:
[code]

[2020-03-10 15:56] shargon commented on #197
The problem is with this call `System.Runtime.CompilerServices.RuntimeHelpers::GetObjectValue`
@lightszero I think that this method make a copy if it's an struct, otherwise it return the object. Could you check it?

[2020-03-11 03:19] lightszero commented on #197
ok，I'm not good at vb.net,I will study it and create some unittest.

[2020-03-11 03:41] #195 closed

[2020-03-11 07:32] lightszero commented on #197
I found a problem, now it worked when code below

[code]

[2020-03-11 08:28] #197 closed

[2020-03-11 08:31] shargon commented on #197
Please @djnicholson check it again, feel free to reopen it if you consider.

[2020-03-12 07:37] superboyiii opened #201 "BigInteger 0 isn't able to be convert to Byte[]{ 0 }"
Due to https://github.com/neo-project/neo-devpack-dotnet/pull/196, we've improved a lot on smart contract convertion method. However, I still find a little issue that BigInteger 0 isn't able to be convert to Byte[]{ 0 } by `ToByteArray` method. This will cause many issues such like balance exception when make transaction. I've made a little example to replay this situation. For example:
[code]
The

[2020-03-12 07:49] erikzhang commented on #201
I think it shouldn't be `null`. It should be an empty array of byte.

[2020-03-12 08:24] lightszero commented on #201
In Neo Storage.Put
[code]

[2020-03-12 08:32] superboyiii commented on #201
I don't understand. This is correct. But what I expect is value.Length is 1 and value is { 0 }. I don't mean byte[0] but byte[1]{ 0 }. It shouldn't return `null`.

[2020-03-12 08:43] lightszero commented on #201
Because In  BigInteger 0  convert to Bytes will got a Byte[0].
If you want get a Byte[1]{0},that 's a big change.  many code about that in NEOVM.

[2020-03-12 08:46] erikzhang commented on #201
I remembered that in this case, it should really return `null`.

[2020-03-12 08:53] superboyiii commented on #201
If we don't change it to byte[1]{0}, we could meet issues in smart contract especially some cases of invoke balance. And we have to always notify developers we can't convert like this. This is a limit for sc. And for me, I think Byte[1]{0} is absolutely different from Byte[0], it should return Byte[1]{0}.

[2020-03-12 09:47] Tommo-L commented on #201
I think we should convert  `0 -> byte[1]{ 0 }` for storage, which contains two meanings:
 1.  one is that the key value pair exists,
 2. the other is that its value is 0.

If we convert `0 -> byte[0]{}`, which means this is an nonexist key-pair.  And it'll be difficult if we want to count how many registered users in a nep5.

If we convert `0 -> byte[1]{ 0 }`,  we should encourage/incentive users

[2020-03-12 09:53] erikzhang commented on #201
Perhaps putting 0 bytes of data should not be considered as deleting the record. Because the user can always call `Delete` to explicitly delete the record.

[2020-03-12 10:19] Tommo-L commented on #201
Agree 100%

Therefore, we should incentive users to release resources.

[2020-03-12 11:05] superboyiii opened #202 "One issue on ToBigInteger()"
I try to build https://github.com/neo-project/neo-devpack-dotnet/pull/187 again due to the latest devpack-dotnet, it failed.
[code]
![image](https://user-images.githubusercontent.com/38493437/76515305-50196380-6494-11ea-8b0d-9256764adb6c.png)

The previous compiler return this, it works well:
![image](https://user-images.githubusercontent.com/38493437/76514723-4c391180-6493-11ea-9f24-3c7317937362.

[2020-03-12 11:21] lightszero commented on #202
I will check,
Use this fornow.
  private readonly static byte[] Owner =  new byte[] { 0xf6, 0x64, 0x43, 0x49, 0x8d, 0x38, 0x78, 0xd3, 0x2b, 0x99, 0x4e, 0x4e, 0x12, 0x83, 0xc6, 0x93, 0x44, 0x21, 0xda, 0xfe };

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Owen Zhang<mailto:notifications@github.com>
发送时间: 2020年3月12日 19:05
收件人: neo-project/neo-devpack-dotnet<mailto:neo-de

[2020-03-12 11:32] shargon commented on #201
Agree

[2020-03-13 03:30] wanglongfei88 opened #205 "Configure manifest.groups & manifest.permission without manually editing manifest file"
In contract manifest file, there is some attributes, like manifest.groups, manifest.permissions, or metadatta. I think these attributes are pretty important for smart contract that is why they are included in manifest file.

But as I know at this point, if we need to config those attributes, developers need to manually edit manifest.json file which is not very friendly.

Therefore, can we consider

[2020-03-13 06:30] lightszero commented on #202
@superboyiii can we close this?

[2020-03-13 07:38] superboyiii commented on #202
Sure.

[2020-03-13 07:38] #202 closed

[2020-03-13 08:36] shargon commented on #205
Do you think that it will be different or easier for the user between configure a json or calling a method?

[2020-03-13 15:53] Tommo-L commented on #205
I checked that we had too many configuration properties to fit into the contract. Otherwise our contract will become a configuration file.

Here is an example, we have `groups`, `features`, `permissions`, `trusts` and `safeMethods`.
[code]
I think we should set a more open default configuration parameter. In most case, developers don't have to care about the manifest file. Only when they want to h

[2020-03-16 01:14] #205 closed

[2020-03-16 02:26] Tommo-L opened #207 "Adjust abi and manifest file"
related to https://github.com/neo-project/proposals/pull/109 and https://github.com/neo-project/neo/issues/1335

[2020-03-16 13:11] Tommo-L opened #208 "Add UInt160 and UInt256 data types"
**Summary or problem description**

As UInt160, UInt256 are one of the most commonly used data types, I think we should abstract them  into basic types. Here is a [switcheo contract](https://github.com/Switcheo/switcheo-neo/blob/58bbb947d41f0bbec9563231b9f90f39f0f7bfbf/switcheo/BrokerContract.cs), as you can see, scripthash(UInt160) are widely used.

**Neo Version**
- Neo 3

**Where in the softwar

[2020-03-17 08:27] #201 closed

[2020-03-17 09:50] lightszero commented on #208
yes，why not add a stacktype UInt160？

[2020-03-17 11:14] shargon commented on #208
I think that it could be done in neo-dev-pack, and leave the vm to be non neo-dependant

[2020-03-18 01:19] Tommo-L opened #209 "Sync new opcode: ASSERT, ABORT"
waiting for https://github.com/neo-project/neo-vm/pull/300

[2020-03-19 01:30] Tommo-L opened #210 "Apply ManifestExtraAttribute to all examples"
waiting for #176

We should apply the following codes to all the examples to guide the user to fill in.

[code]

[2020-03-19 03:00] superboyiii opened #211 "An Issue for stringArray in smart contract when compile"
Refer to https://github.com/neo-project/neo-devpack-dotnet/pull/187#discussion_r394673272.
`static readonly string[] SupportedStandards = new string[] { "NEP-5", "NEP-10" };`
This kind of style can cause compilation error.
[code]

[2020-03-19 03:26] ProDog opened #212 "A contract compile error when Storage.Put byte[]"
Contract compilations report errors when byte[] length exceeds 16,like this:
![image](https://user-images.githubusercontent.com/12728872/77028508-ed642280-69d3-11ea-862d-cd39045b7077.png)
![image](https://user-images.githubusercontent.com/12728872/77028583-23a1a200-69d4-11ea-8ef6-776a22559008.png)

[2020-03-19 03:42] ProDog opened #213 "Contract compile issues for Helper.HexToBytes and Helper.ToScriptHash"
A contract compiler error for Helper.HexToBytes() and Helper.ToScriptHash():

![image](https://user-images.githubusercontent.com/12728872/77029220-0ec60e00-69d6-11ea-9f9c-8fcfc7c60bff.png)
![image](https://user-images.githubusercontent.com/12728872/77029277-374e0800-69d6-11ea-9b49-e00f045a3155.png)

[2020-03-19 08:04] shargon commented on #213
Currently it only works with static variables

https://github.com/neo-project/neo-devpack-dotnet/blob/b51c2b1afef9ad1fcfc2f0626e2e0f4ea26465bd/src/Neo.Compiler.MSIL/MSIL/Conv_Multi.cs#L219

[2020-03-19 08:19] ProDog commented on #213
OK

[2020-03-19 08:23] Tommo-L commented on #213
@ProDog plz keep it open, we may need to fix it in the future.

[2020-03-19 08:45] lightszero commented on #211
i will check that.

[2020-03-19 08:51] shargon commented on #210
I think that we should create some constants, in order to avoid user mistakes

[2020-03-19 10:55] #211 closed

[2020-03-19 11:12] Tommo-L commented on #212
I'll have a try to fix it.

[2020-03-24 02:32] ProDog opened #217 "Contract compile issues for Helper.Reverse()"
A contract compiler error for Helper.Reverse(this byte[] source),like:
![image](https://user-images.githubusercontent.com/12728872/77382176-a783d180-6dba-11ea-85c9-ed5292b21db6.png)

[2020-03-24 03:00] ProDog commented on #217
When contract included code like var a = 12.AsSbyte(); it will throw exceptions when deploy contract:

![image](https://user-images.githubusercontent.com/12728872/77383017-d69b4280-6dbc-11ea-8a50-aa34fb245a7e.png)

Same exceptions:
[code]

[2020-03-24 05:34] ProDog opened #218 "Contract invoke exceptions for byte[] Concat:"
When contract included code:
[code]
or
[code]
it will throw exceptions when invoke contract:

![image](https://user-images.githubusercontent.com/12728872/77391418-a7dc9680-6dd3-11ea-95b5-c20de28023f6.png)

[2020-03-24 06:19] ProDog commented on #218
.Range(), .Take(), .Last() have the same exception:
Contract included code:
[code]
Throw exceptions when invoke contract:

![image](https://user-images.githubusercontent.com/12728872/77394488-7ddaa280-6dda-11ea-88aa-a80224b95b4b.png)

[2020-03-24 07:54] erikzhang commented on #218
I think we should add a new type `ByteArray` in devpack. We should not return `byte[]` directly.

[2020-03-25 06:38] Tommo-L commented on #218
I'll help fix this issue.

[2020-03-25 08:23] shargon commented on #212
Miss click?

[2020-03-27 03:42] ShawnYun commented on #217
The problem of the `Helper.Reverse()` seems to be that this instruction `CodeEx.Stelem_I1` is not supported now.
![ste](https://user-images.githubusercontent.com/42930111/77719219-b919e300-701f-11ea-8404-82001551c0e9.PNG)
@lightszero Can we solve this problem now？

[2020-03-27 05:11] Tommo-L commented on #217
I think we can solve it now, as we have `Opcode.REVERSEITEMS`. I'll help fix it.

[2020-03-27 08:52] ProDog commented on #209
I have tested it passed.
Contract:

![image](https://user-images.githubusercontent.com/12728872/77738396-bc769400-704a-11ea-9ca3-7b6ba5aaeeb4.png)

Invoke result:
for assert(true):

![image](https://user-images.githubusercontent.com/12728872/77738475-dd3ee980-704a-11ea-90e3-0922cf739be1.png)
![image](https://user-images.githubusercontent.com/12728872/77738490-e3cd6100-704a-11ea-85bf-94be2664c51b.p

[2020-03-29 05:52] #212 closed

[2020-03-30 05:25] Tommo-L opened #224 "Create a demo with verify method"
@ShawnYun will help write it.

[2020-03-30 07:41] Tommo-L opened #225 "Compile C# byte[] to Buffer"

[2020-03-30 07:52] #209 closed

[2020-03-30 08:25] ProDog opened #226 "Add GasLeft syscall"
Summary or problem description:
https://github.com/neo-project/neo/issues/1508

[2020-03-30 09:06] #226 closed

[2020-03-31 09:48] ShawnYun opened #229 "Rename ByteArray to ByteString"
VM has renamed the ByteArray to ByteString, which Complier also needs.

[2020-03-31 10:05] #229 closed

[2020-04-01 03:42] Tommo-L opened #230 "Rename ByteArray to ByteString"
Sync https://github.com/neo-project/neo-vm/pull/309

[2020-04-01 14:39] vncoelho opened #231 "NEP5 Template PostBuild"
On line https://github.com/neo-project/neo-devpack-dotnet/blob/970e82f75441388567d293e09514389cf4fd9cdd/templates/Template.NEP5.CSharp/Template.NEP5.CSharp.csproj#L12

The command use the variable `$(SolutionDir)` and the rest of the path with `\`.
We are facing problem with this path with `\` instead of `/`.
Perhaps, all the path could be a variable then we could easily setup this in different OS

[2020-04-01 14:40] vncoelho opened #232 "Clean TemplateCSharp HelloWorld"
Perhaps we need to clean this folder `https://github.com/neo-project/neo-devpack-dotnet/tree/master/templates/Template.CSharp`

It looks like we just need two files:

* `Contract1.cs`
* `ProjectTemplate.csproj`

[2020-04-02 12:07] #231 closed

[2020-04-02 12:07] #232 closed

[2020-04-03 07:30] Tommo-L opened #236 "Support c# byte[] assignment operation"
Here is an example:
[code]

[2020-04-03 16:03] #230 closed

[2020-04-07 06:10] ShawnYun opened #237 "Initialize the static variables without main method."
As #219 , we add abi offset for every method. But if there are static variables, we need to load them first.

[2020-04-07 07:31] erikzhang commented on #237
@lightszero What do you think?

[2020-04-07 07:45] shargon commented on #237
We should call the static constructor first

[2020-04-08 02:14] Tommo-L commented on #237
Maybe we need a constructor method for each contract, like c# class?

[2020-04-08 04:43] #217 closed

[2020-04-08 04:46] #225 closed

[2020-04-08 05:30] Tommo-L commented on #152
@shargon Could help close this issue, sine #187 has already been merged.

[2020-04-08 06:31] #152 closed

[2020-04-08 06:41] #210 closed

[2020-04-08 06:45] lightszero commented on #237
简洁的修改方式 是 懒汉模式，在每个入口函数插入一个检查。

[2020-04-08 06:54] shargon commented on #237
But it should be executed once, if we call a recursive method, we should be executed only once.

[code]

[2020-04-08 07:27] Tommo-L commented on #237
Translate to EN:

A simple way is to use lazy mode, insert a check method to init those static variables at the entry of each function.

[2020-04-08 07:28] Tommo-L commented on #237
If we use lazy mode, it's not a problem.

[2020-04-09 08:27] Tommo-L opened #239 "Write an NFT contract example"
Some examples:
1. [NEP-11 python demo](https://gist.github.com/hal0x2328/3237fd9f61132cea6b6dd43899947753), _posted by_  @hal0x2328
2. [RyuNFTs-NEO demo](https://github.com/RyuGames/RyuNFTs-NEO)  _posted by_ @WyattMufson
3. [Zoro-Contract demo](https://github.com/ZoroChain/Zoro-Contracts/blob/master/NFT/NFTContract/NFTContract.cs) _posted by_ @ProDog

Don't forget copy the demo to https://github.c

[2020-04-09 08:55] Tommo-L commented on #237
@erikzhang If we want to use lazy mode, could we add a new opcode `SFCOUNT`, which return the total amount of static field slot. Then we can use it to determine whether static variables have been loaded.

[code]

[2020-04-09 10:16] Tommo-L commented on #237
Another way is that when we deploy a contract at the begining, we should call its constructor to complete its initialization(including static variables)

[2020-04-09 10:49] erikzhang commented on #237
My solution is that we allow the contract to have an optional special method: `_initsslot()`.

When an contract is invoked, we check its ABI first. If it has the method `_initsslot()`, we call it first.

[2020-04-09 12:22] shargon commented on #237
we can call it in other execution context, and after it, call the user method

[2020-04-10 16:24] Tommo-L commented on #237
Personally, I don't want to see that we have too many special functions, we already have one. I think we can adjust NEF format, make NEF like window's exe format, which have different segments.

[2020-04-13 06:16] #236 closed

[2020-04-13 10:11] ProDog opened #241 "OpCode exceptions when deploy contract"
When contract included code like var a = 12.AsSbyte(); it will throw exceptions when deploy contract:

![image](https://user-images.githubusercontent.com/12728872/77383017-d69b4280-6dbc-11ea-8a50-aa34fb245a7e.png)

Same exceptions:
[code]

_Originally posted by @ProDog in https://github.com/neo-project/neo-devpack-dotnet/issues/217#issuecomment-602983780_

[2020-04-13 11:24] shargon commented on #241
`neo-node` has updated the opcodes?

[2020-04-13 12:49] ProDog commented on #241
no. it's not fixed in  https://github.com/neo-project/neo-devpack-dotnet/issues/217

[2020-04-13 13:49] Tommo-L commented on #241
We need to fix this issue, as we have removed `THROWIFNOT` opcode, which replaced by `ASSERT(0x38)`.

https://github.com/neo-project/neo-devpack-dotnet/blob/8a8b1beff6e01645250e065399d1ac061187ac8f/src/Neo.SmartContract.Framework/Helper.cs#L62-L108

[2020-04-13 13:56] shargon commented on #241
I will fix it and remove all the hardcode values

[2020-04-14 02:45] #241 closed

[2020-04-14 06:31] ProDog commented on #218
This exception occurs:
- using `ApplicationLog` plugin, contract including `Runtime.Notify(byte[])`;
- return result to neo-cli, contract including `return byte[]`.

[2020-04-14 06:34] Tommo-L commented on #218
Got, @bettybao1209  is alrady working on it.

[2020-04-14 10:27] ProDog opened #243 "Allow multiple return in abi.json"
For https://github.com/neo-project/neo-devpack-dotnet/pull/238, we have allowed multiple return in contract, so how to show `returnType`  in abi.json and mainfest.json? it's need to support in `Compiler`.

[2020-04-14 10:30] lightszero commented on #243
ProDog:
[code]

Erik:"We shouldn't support multiple return in public methods."

@devhawk @shargon  @Tommo-L what do you think?

[2020-04-14 10:32] lightszero commented on #243
this is about https://github.com/neo-project/neo-debugger/issues/17
too.

[2020-04-14 10:40] Tommo-L commented on #243
Some solutions:

option A: VM.Array
option B: VM.Struct
Option C: Disallow multipe return

[2020-04-14 10:41] Tommo-L commented on #243
I vote for Opion C, it'll be simple for another language, which don't support multipe return.

[2020-04-14 10:42] ProDog commented on #243
so we only use it inside the contract?

[2020-04-14 10:45] Tommo-L commented on #243
Yes, it's decided by the compiler.

[2020-04-14 10:48] ProDog commented on #243
If only can write that in contract, but can't use in return, maybe cause other confusion for contract developers.

[2020-04-14 10:58] Tommo-L commented on #243
Our ABI has already defined the `returnType`, which dose not support multiple return.

[2020-04-14 10:59] Tommo-L commented on #243
Therefore, it's better for us not support multiple return in c# contract.

[2020-04-14 11:03] erikzhang commented on #243
If you allow multiple return in public methods, languages that do not support multiple return values will not be able to call these contracts. So we have to disable it for public methods.

[2020-04-14 14:06] devhawk commented on #243
cc @roman-khimov and @fyrchik

What is the use case for multiple return values as @Shargon [describes here](https://github.com/neo-project/neo-debugger/issues/17#issuecomment-612769751)? If that VM construct doesn't map well enough to existing programming languages, maybe we should model multiple return types as a NeoVM Array. We can map such arrays to language specific constructs (go multi return

[2020-04-14 14:32] shargon opened #244 "Json parser for developers"
We need a user-friendly json parser using these syscals

https://github.com/neo-project/neo/blob/master/src/neo/SmartContract/InteropService.Json.cs

It will be used for oracle filters

[2020-04-15 04:00] Tommo-L commented on #237
I think we can implement the `__initsslot` now. I have read the [windows PE format](https://docs.microsoft.com/en-us/previous-versions/ms809762(v=msdn.10)?redirectedfrom=MSDN#pe-file-exports), it has a function address table and function name table for mapping. By using `.ctor` as object instance entry,  `.cctor` as class static methods and variables initialization. It also has a `.data` sgement,

[2020-04-15 07:19] shargon commented on #237
It's a good idea, if we process the static constructor, and after it, we save the static variables in the nef file, it could be easier to execute.

[2020-04-15 08:47] erikzhang commented on #237
https://github.com/neo-project/neo/pull/1572

[2020-04-15 08:55] lightszero commented on #237
got it

[2020-04-15 14:05] shargon opened #245 "Create optimization rule for ROT"
For oracles I created two methods, one with filters and other without filters.

You can see the code here:

I think that it should be great to do a optimizer rule for this:

https://github.com/neo-project/neo-devpack-dotnet/blob/4967f573d29b69546a0c270eb3b9678c7f8d5d49/src/Neo.SmartContract.Framework/Services/Neo/Oracle.cs#L8-L12

[code]

If we have 3 `PUSH` and a `ROT`, we should avoid the ROT an

[2020-04-16 06:37] ShawnYun opened #246 "Modify optimizer of `Parser_DeleteDeadCode`"
Now if we use abi offset, we will remove the automain method. The  optimizer  can't  find all method entry points. So we will modify it later.

[2020-04-17 16:11] shargon commented on #245
Also, we should be able to detect the same behavior with `ROLL`

![image](https://user-images.githubusercontent.com/3167973/79590053-b66a5500-80d6-11ea-975b-bea62d18975b.png)

[2020-04-22 03:52] #218 closed

[2020-04-26 07:03] #207 closed

[2020-04-26 07:08] ShawnYun commented on #237
close it via #219 .

[2020-04-26 07:08] #237 closed

[2020-04-26 07:56] Tommo-L opened #254 "Make the contract stateful"
I think when a contract deployed in blockchain, it'll have state. There is an example.

`a` will be persisted in blockchain, it'll increase 1 every time when we invoke `Inc` method.

[code]

TODO
- [ ] store contract variables in storage

[2020-04-26 12:48] shargon commented on #254
This is like ethereum works, without static variables and methods, like a real class, but then have no sense to have a constructor in the blockchain, we should do like they do, execute it during deploy, and remove it from the script.

[2020-04-26 12:49] shargon commented on #254
And this could be incompatible with state less executions...

[2020-04-27 05:47] Tommo-L commented on #254
It's ok for me, remove constuctor.

[2020-04-27 05:53] Tommo-L commented on #254
I think we can make compiler be compatible.

[2020-04-27 07:43] shargon commented on #254
How if the value will be in the storage?

[2020-04-27 12:02] shargon opened #256 "Optimizer doesn't work with the last ABI changes"
OptimizeParserType.DELETE_DEAD_CODE doesn't work with the last ABI changes

https://github.com/neo-project/neo-devpack-dotnet/pull/252/files#r415749579

[2020-04-27 16:38] devhawk commented on #243
@erikzhang, @lightszero Can either of you provide perspective on NeoVM's existing multiple return value support as I mentioned in [my last comment](https://github.com/neo-project/neo-devpack-dotnet/issues/243#issuecomment-613464076)

[2020-04-27 18:34] erikzhang commented on #243
For public methods, that is, those methods that must be described in the ABI file, they must have a single return value or no return value (void). If you need multiple return values, you must wrap them in an array or structure. For private methods, the compiler can return up to 127 values according to the syntax.

[2020-04-28 01:54] Tommo-L commented on #256
Related  https://github.com/neo-project/neo-devpack-dotnet/issues/246

@ShawnYun will help fix optimizer. As ABI pr is too large, we need another pr to fix optimizer.

[2020-04-28 03:43] ProDog opened #257 "Exception "Syscall not found" when deploy contract"
### Describe
My contract using the `Crypto.ECDsaVerify` or `Crypto.ECDsaCheckMultiSig` API, it will throw exception "Syscall not found d46a900a"  when deploy contract.

### Version
- neo-devpack-dotnet:https://github.com/neo-project/neo-devpack-dotnet/tree/0c68a4f589dab8fb9c2352259acd6e28523441df
- neo:https://github.com/neo-project/neo/tree/0c94a678d7a152c0b8d90f45459cfe4a4e0a0bad

### Screenshot

[2020-04-28 07:23] shargon commented on #257
We renamed this syscall here https://github.com/neo-project/neo/pull/1419

[2020-04-28 07:24] shargon commented on #256
Closed because it's duplicated

[2020-04-28 07:24] #256 closed

[2020-04-28 07:27] ProDog commented on #257
OK, thanks!

[2020-04-28 09:07] ShawnYun commented on #246
Functions' entrypoint address convert becomes very complicated if we use the optimizer `Parser_DeleteDeadCode`, and I recommend using only `DeleteNop` without `Parser_DeleteDeadCode`, which is more concise.

[2020-04-28 09:14] shargon commented on #246
Maybe we should add another `INefItem` for method offset, but we should be able to do that.

[2020-04-28 10:24] ShawnYun commented on #246
Yes, I will try it.

[2020-04-28 13:24] devhawk commented on #243
@erikzhang Do contracts have public methods other than the main entry point?

[2020-04-28 13:40] erikzhang commented on #243
There is no entry point anymore.

[2020-04-28 14:06] devhawk commented on #243
Are there docs on this? I'm using the [domain sample contract](https://docs.neo.org/docs/en-us/sc/sample/Domain.html) for test purposes. Since it was originally developed for neo2, it has a main entrypoint. What would the equivalent neo3 contract look like? Are there other sample neo3 contracts I could use for test purposes?

[2020-04-28 18:41] shargon commented on #243
You only need to remove the `main` method. Now the main `switch ` it's not required

[2020-04-28 18:42] shargon commented on #257
It could be closed?

[2020-04-29 01:44] ProDog commented on #257
Need to wait for update `Neo.SmartContract.Framework`?

[2020-04-29 01:53] Tommo-L commented on #243
Hi, @devhawk  You can see the NEP5-template, it's already adjusted.
https://github.com/neo-project/neo-devpack-dotnet/blob/master/templates/Template.NEP5.CSharp/NEP5.cs

[2020-04-30 20:39] #257 closed

[2020-05-02 08:25] #254 closed

[2020-05-05 22:49] devhawk opened #264 "debug info generation crashes on extern methods (master-2.x)"
Contracts that define static cross-contract calls via an [extern method + Appcall attribute](https://docs.neo.org/docs/en-us/sc/deploy/invoke.html#static-call) crash during debug info generation.

[2020-05-06 06:09] Tommo-L opened #266 "Optimize OptimizeParser"
"we need to execute it multiple times...."

"if that happens need to redesign optimizer parser pipeline. make sure one pass can finish the job."

"We need change parser to make sure that can be done by single parser."

_Originally posted by @shargon  @lightszero  in https://github.com/neo-project/neo-devpack-dotnet/pull/263/files#r418932256_

[2020-05-06 07:53] #264 closed

[2020-05-06 11:32] #246 closed

[2020-05-18 02:11] Tommo-L opened #270 "Update the hash of Neo and Gas native contract"
waiting https://github.com/neo-project/neo/pull/1649

- Update the hash of Neo, Gas and Pollicy native contract.

https://github.com/neo-project/neo-devpack-dotnet/blob/db88ae768903fd73ccba701b2c6bae3d4bfc773f/src/Neo.SmartContract.Framework/Services/Neo/Native.cs#L5-L12

[2020-05-26 06:23] Tommo-L commented on #224
Already contains in Nep5 demo

https://github.com/neo-project/neo-devpack-dotnet/blob/db88ae768903fd73ccba701b2c6bae3d4bfc773f/templates/Template.NEP5.CSharp/NEP5.cs#L35-L40

[2020-05-26 06:23] #224 closed

[2020-05-26 07:05] ProDog opened #272 "An contract deploy exception of Enumerator<int> or Enumerator<string>..."
If the contract contains return Enumerator\<int> or Enumerator\<string>, an exception will be thrown when the deploy contract.

Contract like :
[code]

The exception when deploy :

![image](https://user-images.githubusercontent.com/12728872/82869668-3d75dd00-9f61-11ea-9948-e7f89b67baaf.png)

Enumerator\<string>, Enumerator\<BigInteger>, Enumerator\<long> have the same exception.

[2020-05-26 07:14] ShawnYun commented on #272
I will help to fix it.

[2020-05-26 07:56] ProDog opened #273 "An StackItemType(Buffer) exception when contract return Enumerator<byte[]>"
If the contract contains return Enumerator<byte[]> , an exception will be thrown when the invoke contract.

Contract like:
[code]

The exception when invoke:

![image](https://user-images.githubusercontent.com/12728872/82874997-61d5b780-9f69-11ea-8475-4ca6f95d1e32.png)

[2020-05-26 08:23] #273 closed

[2020-05-26 10:33] #270 closed

[2020-05-26 19:17] devhawk opened #275 "NEON generates invalid debug info when generating contract from source/project"
When compiling a contract from source or project files, the generated PDB file is missing source path information. This causes NEON to generate invalid avmdbgnfo files.

This is happening because source path information is not being passed to the [`CSharpSyntaxTree.ParseText` method](https://github.com/neo-project/neo-devpack-dotnet/blob/96a073086e73edaeeeec9669f8739843e3080036/Neo.Compiler.MSIL/C

[2020-05-26 20:23] devhawk opened #277 "Contract_MultipleContracts test generates invalid .manifest.json"
If you compile `tests\Neo.Compiler.MSIL.UnitTests\TestClasses\Contract_MultipleContracts.cs` with the current master head of neon, the generated `Contract_MultipleContracts.abi.json` file is empty and the generated `Contract_MultipleContracts.manifest.json` file is invalid

[2020-05-27 02:43] ShawnYun commented on #277
The contract should not be compiled correctly and should return an error.

[2020-05-28 19:32] #275 closed

[2020-05-29 05:46] #277 closed

[2020-06-01 19:45] MatthewShelby opened #280 "neo-devpack-dotnet version compatibility for NEP-5 contract"
hello fellas;
I'm trying to Create a NEP-5 smart contract;
I use this [instruction](https://docs.neo.org/v3/docs/en-us/sc/gettingstarted/develop.html);

At some point it says:
![2020-06-01 23_56_50-Compiling a contract sample](https://user-images.githubusercontent.com/47936625/83446363-c8743d00-a463-11ea-9266-38464718380f.png)

I tried to use [these projects](https://github.com/neo-project/neo-dev

[2020-06-02 01:59] Tommo-L opened #281 "Update readme"
1. Using the style of https://github.com/neo-project/neo
2. Introduce the three sub-projects
3. How to use them to build neo3 contract

[2020-06-02 02:03] Tommo-L commented on #280
Yes.  Check neon whether is the latest version? If not, you can download from https://github.com/neo-project/neo-devpack-dotnet/releases

![image](https://user-images.githubusercontent.com/43396869/83471740-0e5af080-a4b8-11ea-94f5-362fe1e0e2b5.png)

[2020-06-02 06:19] ProDog opened #282 "An exception of Iterator<byte, byte>.Create()"
If the contract contains `Iterator<byte, byte>.Create(new byte[] { 5 })`, an exception will be thrown when invoke contract.

The `item` Type is `Buffer`:

![image](https://user-images.githubusercontent.com/12728872/83486472-d1a0f080-a4db-11ea-8b00-90a862838ce3.png)

[2020-06-02 07:55] Tommo-L commented on #282
As we have converted all string to `Buffer` in C# compiler, which can't be the key of `IIterator `, `Map`. Should we implement the `hashcode` method in neo-vm to support it? @erikzhang

[2020-06-02 09:04] Tommo-L opened #283 "Remove TriggerType from compiler"
I think we don't need to support TriggerType in compiler now, as we already use the special `verify` method for verification function.

[2020-06-02 11:59] MatthewShelby commented on #280
### To inform other users:

The cause of the problem was a conflict between paths that are defined in system environment variables.
There was an old path which conducts PowerShell to an older version of neon.exe. The old path should be removed.

![1399-03-13 16_26_54-Edit environment variable](https://user-images.githubusercontent.com/47936625/83517391-0e75e300-a4ee-11ea-8109-79b7d82d527f.png)

De

[2020-06-02 12:55] shargon commented on #282
Can be converted to a byte array first

[2020-06-02 12:57] shargon commented on #283
We need to filter the syscalls availables in each type

[2020-06-03 02:54] Tommo-L commented on #280
Thank you, I'll update the docs https://github.com/neo-project/docs/pull/1081

[2020-06-04 08:41] Tommo-L commented on #283
That's right, and `System.Runtime.GetTrigger` also use it.

https://github.com/neo-project/neo-devpack-dotnet/blob/4f251bcc6251e56bea2b55465111df0a46072497/src/Neo.SmartContract.Framework/Services/Neo/Runtime.cs#L5-L9

[2020-06-04 08:42] #283 closed

[2020-06-10 10:30] cloud8little opened #284 "7 and more than 7 case branch in switch body is not supported"
[code]
there are two return values for 'a' to 'g', and other values return engine faulted.
Result:
| Value |Result Stack|
|--|--|
| a | [{"type":"ByteString","value":"YQ=="},{"type":"Integer","value":"1"}] |
| b | [{"type":"ByteString","value":"Yg=="},{"type":"Integer","value":"0"}] |
| c | [{"type":"ByteString","value":"Yw=="},{"type":"Integer","value":"1"}]|
| d | [{"type":"ByteString","value":"

[2020-06-10 13:15] Tommo-L opened #285 "Add returnType when call other contract"
### Deason
For security reason, it's not safe to call other contract without restrict on the return stack.
[code]

[code]

_We expect CallSomeContract() to return no value. But if it maliciously returns 2 values, then these values will be automatically copied onto our stack, causing us to return wrong results. Original posted at  https://github.com/neo-project/neo/pull/1680#discussion_r434484269_

[2020-06-11 02:47] lightszero commented on #284
i will check it

[2020-06-11 03:15] lightszero commented on #284
in this case,IL compiler gen a hash tree.
i can't convert this to nef without computestringhash

[code]

[2020-06-11 07:28] Tommo-L opened #288 "Add RIPEMD160 , hash160, hash256 method"
_Add Hash160 and Hash256 to make some Neo2 contract function compatible in Neo3. Original posted at https://github.com/neo-project/neo/pull/1694#issue-432799843_

1. Add `RIPEMD160` syscall
2. add hash160, hash256 as a sdk function

[2020-06-11 07:50] #272 closed

[2020-06-12 06:26] erikzhang opened #290 "Mapping between C# types and NeoVM types"
Supported types
----------------
**C# -> NeoVM**
null -> Null
bool -> Integer
sbyte -> Integer
byte -> Integer
short -> Integer
ushort -> Integer
int -> Integer
uint -> Integer
long -> Integer
ulong -> Integer
BigInteger -> Integer
byte[] -> Buffer
char -> Integer
string -> ByteString
Array -> Array
Enum -> Integer
class -> Array
struct -> Struct
tuple -> Struct
event -> System.Runtime.Notify()
la

[2020-06-12 06:37] #284 closed

[2020-06-12 06:46] erikzhang commented on #290
Can someone check the implementation of the compiler according to this table?

[2020-06-12 06:47] erikzhang commented on #285
`AppCallAttribute` should be replaced.

[2020-06-12 07:30] cloud8little opened #292 "integer type in switch condition is not supported"
test cases:  #291
[code]
[code]

[2020-06-12 08:11] shargon commented on #290
I will create a unit test in dev-pack for ensure this behaviour

[2020-06-12 08:23] Tommo-L commented on #285
The parameters of `System.Contract.Call/CallEx` have been updated.
[code]

[2020-06-12 10:03] cloud8little opened #294 "add operation on string type is not supported"
Write a contract such as:
[code]
Result: always return 3.
[code]

[2020-06-13 11:16] shargon commented on #290
We should specify that the arguments are `Array`

[2020-06-13 12:28] erikzhang commented on #290
Why array?

[2020-06-13 12:29] erikzhang commented on #290
Maybe we should add an `eventName` to `Notify()`.

[2020-06-13 14:59] shargon commented on #290
Yes, I will

[2020-06-15 02:48] lightszero commented on #292
got it,will working on it.

[2020-06-15 06:11] erikzhang commented on #290
@shargon https://github.com/neo-project/neo/pull/1701

[2020-06-15 09:10] ShawnYun commented on #294
Actually  add operation on string type is  supported. But the "==" between string and string would be False.

[2020-06-15 09:17] erikzhang commented on #294
@lightszero

[2020-06-16 06:28] ShawnYun commented on #282
But we have converted byte[] to `Buffer`, we can't convert it back to `ByteString`.

[2020-06-16 09:04] erikzhang commented on #282
c# `string` is converted to `ByteString`. See #291 290

[2020-06-16 10:24] #294 closed

[2020-06-17 03:02] lightszero commented on #292
fix it in your ut pr

[2020-06-17 03:03] lightszero commented on #290
fix it https://github.com/neo-project/neo-devpack-dotnet/pull/295

[2020-06-17 07:36] ShawnYun commented on #292
we can close it via https://github.com/neo-project/neo-devpack-dotnet/pull/291

[2020-06-17 07:49] #292 closed

[2020-06-17 08:24] #290 closed

[2020-06-17 09:13] #288 closed

[2020-06-18 07:35] ShawnYun commented on #285
According to https://github.com/neo-project/neo/pull/1706 . We need to modify the plan.

[2020-06-19 07:15] #285 closed

[2020-06-19 07:18] Tommo-L opened #297 "Support byte[].AsString()"
[code]
_posted at https://github.com/neo-project/neo/pull/1710#issuecomment-645947884_

In upper case, we should convert `Buffer` to `ByteString`, as c# byte[] is `NeoVM.Buffer`, c# string is `NeoVM.ByteString`. But the compiler just igore `AsString` method, and return a `Buffer`.

Three problems:
1. Compiler forget to convert `byte[]` in argument parameter list to `Buffer`
2. `AsString` should co

[2020-06-19 07:46] erikzhang commented on #297
`Map` should support `string` only.

[2020-06-19 07:51] shargon commented on #297
`Primitive` also should support integer and boolean

[2020-06-19 09:59] erikzhang commented on #297
@shargon I think c# `bool` should not be supported. Because c# `bool` is actually `int`.

[2020-06-21 12:58] Tommo-L opened #299 "Support callback syscalls"
Apply https://github.com/neo-project/neo/pull/1629

Support callback syscalls:
- _System.Callback.Create_
- _System.Callback.CreateFromMethod_
- _System.Callback.CreateFromSyscall_
- _System.Callbcak.InvokeCallback_

@shargon Would you add them?

[2020-06-21 13:06] Tommo-L opened #300 "Always return a value for public methods"
apply https://github.com/neo-project/neo/pull/1706

- ~~When create a public void method, compiler may return a `Null`.~~
- When call a void method, compiler need to drop the top value on the stack.

 _We may need to know the ABI of the invoked contract._

[2020-06-21 13:24] Tommo-L opened #301 "Add event name to System.Runtime.Notify"
Apply https://github.com/neo-project/neo/pull/1701

- Add `EventName` field in Notification entity
- Update  `System.Runtime.Notify(byte[] eventName, Array state)`

[2020-06-21 14:54] erikzhang commented on #300
This is wrong.

[2020-06-21 15:02] Tommo-L commented on #300
Has already returned a null value in neo-core?

[code]

[2020-06-21 19:51] shargon commented on #300
Yes, we already return a null item with void

[2020-06-22 01:57] Tommo-L commented on #280
@shargon  Could help close this issue, we have already updated the docs.  @MatthewShelby if you have another issue, you can open a new ISSUE.

[2020-06-22 01:59] #243 closed

[2020-06-22 06:12] erikzhang commented on #299
We don't need this in devpack. We should use delegate.

[2020-06-22 07:11] #280 closed

[2020-06-22 10:41] shargon commented on #299
Then how can we distinguish between pointers and `Callbacks`? please take a look to https://github.com/neo-project/neo-devpack-dotnet/pull/302

[2020-06-22 11:37] erikzhang commented on #299
One way is we make `System.Callbcak.InvokeCallback` to support both callbacks and pointers.

[2020-06-23 07:26] chenzhitong opened #305 "This code does not compile successfully [1]"
Smart Contract Code：
https://github.com/chenzhitong/neo-devpack-dotnet/blob/optimize-2/templates/Template.NEP5.CSharp/Storage/AssetStorage.cs#L12-L19

This code does not compile correctly

![image](https://user-images.githubusercontent.com/6295602/85373168-748ddd00-b565-11ea-9450-6118bfb2748a.png)

However, if I comment out `else`，It can compile successfully

![image](https://user-images.githubuse

[2020-06-23 07:28] chenzhitong opened #306 "This code does not compile successfully [2]"
[code]

![image](https://user-images.githubusercontent.com/6295602/85373606-19101f00-b566-11ea-80d6-eafcc447d37c.png)

![image](https://user-images.githubusercontent.com/6295602/85374855-fb43b980-b567-11ea-859a-8bd115fb3d83.png)

[2020-06-23 07:28] ShawnYun commented on #305
I will help to fix it.

[2020-06-23 08:38] #305 closed

[2020-06-23 08:38] #306 closed

[2020-06-23 08:59] ProDog opened #308 "An System.ArgumentException when deploy contract"
My contract like:
[code]

It will throw an exception when deploy contract, the same problem arises on `Func<int>` `Func<bool>` `Func<byte>`  `Func<object>`  `Func<char>` .

Now only support `Func<BigInteger>` and `Func<byte[]>`.

Exception:

![image](https://user-images.githubusercontent.com/12728872/85381814-ed466680-b570-11ea-9b88-792185a450f0.png)

[2020-06-23 09:21] erikzhang commented on #308
The abi file is incorrect.

[2020-06-23 09:23] shargon commented on #308
@ProDog  Could you provide the abi ?

[2020-06-23 09:26] ProDog commented on #308
abi:
[code]

[2020-06-23 09:29] ShawnYun commented on #308
need fix the return type.

[2020-06-23 10:07] ProDog opened #309 "Contract execute FAULT when the contract uses static variables"
Contract:
[code]

Invoke contract will `FAULT`
[code]

[2020-06-23 10:15] ShawnYun commented on #308
@erikzhang  For `System.Func1<System.Int32>`  it should return a `Pointer` . But there seems to be no corresponding type in neo-core?

[2020-06-23 10:17] shargon commented on #308
any?

[2020-06-23 10:21] erikzhang commented on #308
I think you shouldn't return a `Pointer` if it is a `public` method. Because other contracts can't use the `Pointer`.

[2020-06-23 11:03] shargon commented on #308
`CALLA` check that the caller it's the same contract

[2020-06-23 11:43] erikzhang commented on #308
I think this can be closed. `Pointer` is not a valid parameter or return type for `public` methods.

[2020-06-23 11:50] Tommo-L commented on #308
Agree, it's not safe. One contract can access other contract anywhere by construct a `Pointer(Script ,Position)`.

[2020-06-23 11:58] shargon commented on #308
It's the same as a `Callback` but agree, we should use callback instead of pointers for public methods

[2020-06-24 02:36] ShawnYun commented on #309
What is the NEO version ？

[2020-06-24 02:38] ProDog commented on #309
latest version of master (neo, neo-vm)

[2020-06-24 02:52] ProDog commented on #308
Should the compiler prompt for this situation? such as throwing an exception.

[2020-06-24 03:46] chenzhitong opened #310 "StorageMap can't be written in static variables"
I found that if StorageMap is written in a global variables, the execution will report an error.
If the StorageMap is written in a variable in the method, it is executed correctly.

[code]

The `put` and `get` methods will fail to execute, but the `put2` and `get2` methods will execute successfully.

**This bug will appear in both Neo2 and Neo3**

The picture below is the execution result:

![imag

[2020-06-24 07:20] shargon commented on #309
![image](https://user-images.githubusercontent.com/3167973/85514046-e6b10100-b5fb-11ea-8807-86b4139d334f.png)

[code]

[2020-06-24 07:23] shargon commented on #310
Could you take a look @lightszero ?

[2020-06-24 08:29] lightszero commented on #310
I think this is about https://github.com/neo-project/neo-devpack-dotnet/issues/237

[2020-06-24 08:34] ShawnYun commented on #310
I will check it, but according to the above mentioned, this bug will appear in both Neo2 and Neo3.

[2020-06-24 08:47] ProDog commented on #309
Strange, I can not reproduce now😅

[2020-06-28 09:04] chenzhitong opened #313 "This code does not compile successfully [3]"
This code does not compile successfully

[code]

System.Exception: cannot convert addr in: System.Boolean Contract1.Contract1::IsPayable(System.Byte[])

[2020-06-28 09:14] chenzhitong opened #314 "This code does not compile successfully [4]"
This code does not compile successfully

[code]

System.Exception: cannot convert addr in: System.Boolean Contract1.Contract1::ValidateAddress(System.Byte[])

https://github.com/chenzhitong/Neo3ContractTest

[2020-06-28 09:33] ShawnYun commented on #314
I can compile it successfully.

[2020-06-28 09:33] ShawnYun commented on #313
I can compile it successfully.

[2020-06-28 09:54] chenzhitong commented on #313
https://github.com/chenzhitong/neo3contracttest

[2020-06-28 10:02] #313 closed

[2020-06-28 10:02] #314 closed

[2020-06-29 08:31] shargon commented on #313
It works for me too, please take a look to https://github.com/neo-project/neo-devpack-dotnet/pull/315

[2020-06-30 07:46] #301 closed

[2020-07-01 08:34] #308 closed

[2020-07-02 14:24] Tommo-L opened #318 "Change json fields to all lower case for consistency"
Apply https://github.com/neo-project/neo/pull/1736

- ABI
- Manifest.json

[2020-07-03 03:14] ShawnYun commented on #318
I will change it.

[2020-07-03 08:38] ShawnYun commented on #300
But how does the compiler know the return type of the calling contract.

[2020-07-03 08:52] erikzhang commented on #300
See https://github.com/neo-project/neo/pull/1680#issuecomment-642100788

[2020-07-03 11:42] #318 closed

[2020-07-07 14:57] Tommo-L opened #322 "Change nef checksum to hash256"
Apply https://github.com/neo-project/neo/pull/1751

[2020-07-07 15:00] #299 closed

[2020-07-07 15:18] shargon commented on #322
`dev-pack` will be updated as soon as nuget is available, it use `Neo.SmartContract.NefFile`

[2020-07-08 03:19] Tommo-L commented on #282
Fixed by https://github.com/neo-project/neo/pull/1726

[2020-07-08 03:20] #282 closed

[2020-07-09 03:29] Tommo-L opened #323 "Move NEP10 to manifest"
Apply https://github.com/neo-project/neo/pull/1729

[2020-07-13 02:10] ProDog commented on #322
We need to fix this before https://github.com/neo-project/neo-devpack-dotnet/pull/324.

[2020-07-13 13:39] #323 closed

[2020-07-14 08:11] #322 closed

[2020-07-16 08:43] #297 closed

[2020-07-16 12:33] #310 closed

[2020-07-17 09:03] Tommo-L opened #328 "Generate contract interface when compile"
Since we'll use `ContractCall` to replace `Appcall`, we can generate contract interface when compile contract.

The suffix name can be `XXXXX.interface.cs`?

[2020-07-28 10:06] ProDog commented on #309
The problem arises again, and error is:
[code]

Contract:
[code]

Version:
latest version of master (neo, neo-vm, neo-devpack-dotnet).

[2020-07-28 10:20] ShawnYun commented on #309
OK, I will test it.

[2020-07-29 03:12] ShawnYun commented on #309
It works for me.
This is very strange, we can keep this issue open.

[2020-07-29 03:44] ProDog commented on #309
I found that when event and static variables exist together, they make exception 😂, just like:
[code]

[2020-07-29 07:47] #300 closed

[2020-07-30 08:18] shargon opened #331 "Optimizer error"
Optimizer throw an error with the following example:

Error:

![image](https://user-images.githubusercontent.com/3167973/88899079-eb498480-d24d-11ea-8f3c-1cb9149c0049.png)

Source code:

[code]

[2020-07-30 09:36] ShawnYun commented on #331
It looks like the optimizer has a problem with the entrypoint, when the offset of 0 is `NOP`.

[2020-07-30 09:37] ShawnYun commented on #331
I will fix it.

[2020-08-11 09:01] #331 closed

[2020-08-19 03:13] ProDog opened #357 "Issue of contract parameter type"
**Describe the bug**
Execution `FAULT` when the contract uses the byte[] parameter.

**To Reproduce**
Contract:
[code]
Invoke:
[code]
Result:
[code]

**Platform:**
 - OS: [Windows 10 x64]
 - Version [neo master]

[2020-08-19 12:50] ryanfalzon commented on #25
@blcktqq how did you manage to solve this? Having the same issue.

[2020-08-20 02:21] ShawnYun commented on #25
@ryanfalzon What's your contract code?

[2020-08-26 11:06] #309 closed

[2020-08-26 23:22] devhawk opened #342 "NEP5 template Mint operation fails due to incorrect NEO/GAS token contract hash encoding"
From the NEP 5 template:

[code]

However, HexToBytes converts these directly to byte array w/o reversing the order.

[code]

So when the Mint operation attempts to compare the script hashes from the notifications array to the NEO/GAS
script hashes stored in the contract, they never match

[2020-08-27 03:50] ShawnYun commented on #342
Yes, we should reverse it.

[2020-08-27 15:57] devhawk opened #345 "NEP template GetTransactionAmount method doesn't work"
GetTransactionAmount is expecting the notification state to be a 4 item array: (EventName, From, To, Amount). However, Event name is a property on notification and state is a three item array.

It should look something like this:

[code]

[2020-08-27 16:13] shargon commented on #345
Good catch! fixed in https://github.com/neo-project/neo-devpack-dotnet/pull/344

[2020-09-01 09:06] shargon commented on #168
Any advance?

[2020-09-01 16:19] #342 closed

[2020-09-01 16:19] #345 closed

[2020-09-07 04:03] #245 closed

[2020-09-10 04:00] Tommo-L opened #351 "Update demo contract"
https://github.com/neo-project/neo-devpack-dotnet/blob/3ea7af7291fe3800da840ecd1450142f25b196b0/templates/Template.CSharp/Contract1.cs#L6-L20

- add `Verify` method and comment
- change `Main(string operation, object[] args)` to `Main()`
-

[2020-09-10 05:16] devhawk commented on #351
Should we also add Update and/or Delete?

[2020-09-15 07:28] #351 closed

[2020-09-15 08:26] Tommo-L opened #355 "Concat string failure"
[code]

[2020-09-15 12:59] shargon commented on #355
![image](https://user-images.githubusercontent.com/3167973/93213249-e4c28e00-f763-11ea-8550-06aa8538d7f8.png)

The problem is that we have three arguments in Concat. I will fix it

[2020-09-15 19:56] shargon commented on #328
is not better to generate it with the ABI?

[2020-09-15 20:00] devhawk commented on #150
This was fixed by #298

[2020-09-15 20:01] #150 closed

[2020-09-15 20:05] devhawk opened #358 "How to create growable list/array in C#"
The `Neo.VM.Types.Array` is implemented as a `List<StackItem>` and has an `Add(StackItem)` method. NeoVM has an APPEND opcode that invokes `Array.Add`. However, there doesn't appear to be a way to create a NeoVM array and append items to it in C#. How does that work?

[2020-09-15 20:07] devhawk commented on #358
Should there be an Array equivalent to `Neo.SmartContract.Framework.Map`?

[2020-09-15 20:22] devhawk opened #359 "Missing ToAddress method"
We can convert string -> byte[] with ToScriptHash, but there's no way to do the reverse.

[2020-09-15 21:33] devhawk commented on #358
I built this local to my sample project. Probably should be a part of the smart contract framework

[code]

[2020-09-15 21:44] devhawk commented on #328
I agree. NEON should be able to generate C# proxy types from the contract manifest.

[2020-09-16 06:42] erikzhang commented on #358
https://github.com/neo-project/neo-devpack-dotnet/blob/master/src/Neo.SmartContract.Framework/Map.cs

[2020-09-16 06:43] erikzhang commented on #358
It looks good. Can you create a pull request?

[2020-09-16 15:42] shargon commented on #359
it will be executed during compilation, which is the use case for write the byte array?

[2020-09-16 15:51] devhawk commented on #359
I didn't realize that ToScriptHash only worked at compile time

[2020-09-16 15:51] #359 closed

[2020-09-16 16:06] shargon commented on #357
@ProDog could you check if it was solved, in https://github.com/neo-project/neo-devpack-dotnet/pull/360 it seems that it works

[2020-09-17 03:05] ProDog commented on #357
Yes, It's been fixed.

[2020-09-17 08:18] #357 closed

[2020-09-17 19:18] #358 closed

[2020-09-19 07:21] #355 closed

[2020-09-20 07:40] shargon opened #363 "_deploy compilation"
Please, choose your preference for `_deploy`

1
[code]
2
[code]
3
[code]
4
[code]

Another idea?

[2020-09-20 17:44] devhawk commented on #363
#4, but call the attribute "OnDeployment"

[2020-09-21 17:54] devhawk opened #366 "CI build not running Template.NEP5.UnitTests"
main.yml includes the following:

[code]

Should there also be a dotnet test run for tests/Template.NEP5.UnitTests?

[2020-09-21 18:01] shargon commented on #366
It could be easier if we replicate the logic in UT, and I think that it's done.

[2020-09-21 18:14] devhawk opened #368 "Template.NEP5.CSharp not building w/ Neo master"
Updated local devpack repo to point to a local neo repo, both at master. running `dotnet build` in devpack repo yields this error

[code]

[2020-09-21 18:27] devhawk commented on #368
My bad, testing out something local and forgot to remove

[2020-09-21 18:27] #368 closed

[2020-09-21 19:06] devhawk commented on #366
I don't understand. The UTs for the NEP5 template are there, but we aren't running them during CI

[2020-09-21 20:12] shargon commented on #366
My mistake, I thought that we don't have ut for templates, but if we have, we should run it.

[2020-09-22 01:39] #366 closed

[2020-09-23 03:18] erikzhang commented on #363
[code]

or

[code]

We can add a placeholder for this method in the project template.

[2020-09-25 16:30] shargon commented on #363
I think that the csharp compiler (Release) could remove the private methods if they are not used

[2020-09-27 08:01] Tommo-L commented on #363
Could we also add `OnVerification`?

[2020-09-29 09:41] #363 closed

[2020-10-22 08:03] ProDog opened #380 "Remove GetValidators"
`GetValidators` method is not in NEO, it should be removed.
https://github.com/neo-project/neo-devpack-dotnet/blob/e3d8da36f7ff6eb4854da258f74822b941065c44/src/Neo.SmartContract.Framework/Services/Neo/NEO.cs#L22

[2020-10-22 08:12] ProDog commented on #380
And
https://github.com/neo-project/neo-devpack-dotnet/blob/e3d8da36f7ff6eb4854da258f74822b941065c44/src/Neo.SmartContract.Framework/Services/Neo/Policy.cs#L16

[2020-10-22 10:43] shargon commented on #380
`GetBlockedAccounts` it was included in https://github.com/neo-project/neo-devpack-dotnet/pull/378 but it's better in other pr

[2020-10-22 18:35] #380 closed

[2020-10-28 18:30] shargon opened #383 "Dynamic byte array initialization"
Author: @csmuller

The next code doesn't compile

[code]

[2020-10-28 20:50] csmuller commented on #383
Other array types work fine, e.g. `int[]`. Any dynamic array initialization with `byte[]` fails compilation.
E.g. the following does also not work:
[code]

[2020-10-29 07:09] lightszero commented on #383
this is right. because bytearray is not Array in NeoVM.it must be inited as a const.

[2020-10-29 10:01] Tommo-L opened #385 "Support add operation between String and Int"
Support the following case:
[code]

[2020-10-31 21:32] igormcoelho commented on #208
UInt160 and UInt256 are nothing more than ByteArray with Length check (== 20, or ==32).
In my opinion (I need to see precisely what's being done there), it would be nice to have some OBJECTS on devpack, where devpack compiler automatically adds these "type checks" on every function call. This would add extra security for programmers, although I think that basic assertions such as "size == 20" shou

[2020-11-02 08:46] Qiao-Jin commented on #383
Similiarly there are also other cases that fail:

[code]

[code]

[code]

[code]

[code]

[code]

...etc.

Maybe we should consider other opcodes other than SIZE in this scenario too.

[2020-11-02 09:34] roman-khimov commented on #385
Maybe some `System.Binary.Itoa` and `System.Binary.Atoi` syscalls for this?

[2020-11-03 09:33] Tommo-L commented on #385
It's good for me.

[2020-11-03 09:33] Tommo-L commented on #385
Or new opcode `itoa` and `atoi`?

[2020-11-03 10:47] shargon commented on #385
Please check https://github.com/neo-project/neo/pull/2043

[2020-11-10 06:11] #208 closed

[2020-11-17 20:33] devhawk opened #392 "Smart Contract framework needs JSON types"
[`Json.Deserialize`](https://github.com/neo-project/neo-devpack-dotnet/blob/dee9b41ab711faea75cc025b06a652705e190893/src/Neo.SmartContract.Framework/Services/Neo/Json.cs#L9) appears to support parsing a string of Json (as would be provided via oracle response) into Neo.IO.Json types. However, there is no equivalent to Neo.IO.Json types in the Smart Contract Framework. How are contracts supposed to

[2020-11-18 22:27] devhawk opened #394 "Neo master branch can't load contract manifest generated by neon master branch"
**Describe the bug**
`ContractManifest.DeserializeFromJson` is expecting the manifest JSON to have a name property. `FuncExport.GenerateManifest` in https://github.com/neo-project/neo-devpack-dotnet does not create a name property

**To Reproduce**
Steps to reproduce the behavior:
1. compile contract with neon master branch
2. Attempt to parse the contract manifest

**Expected behavior**
ContractM

[2020-11-19 10:00] shargon commented on #394
I will fix it

[2020-11-19 11:11] shargon commented on #394
I think that it will be fixed on https://github.com/neo-project/neo-devpack-dotnet/pull/391

[2020-11-20 09:25] #383 closed

[2020-11-20 09:29] #385 closed

[2020-11-26 02:49] chenzhitong opened #397 "Smart Contract templates do not compile correctly (master branch)"
Smart Contract templates do not compile correctly
![image](https://user-images.githubusercontent.com/6295602/100302289-fe3e4c80-2fd4-11eb-85d8-1974ee30412a.png)

![image](https://user-images.githubusercontent.com/6295602/100302305-039b9700-2fd5-11eb-810f-60a9fd57b5b4.png)

[code]

[2020-11-26 03:05] ProDog commented on #397
My tests are normal. Maybe the contract's pot?

[code]

[2020-11-26 08:52] #397 closed

[2020-12-01 17:17] devhawk opened #400 "Neo.Compiler.MSIL no longer compiles against neo master branch"
C:\Users\harry\Source\neo\official\3neo-monorepo\devpack\src\Neo.Compiler.MSIL\Program.cs(217,31): error CS0029: Cannot implicitly convert type 'System.Version' to 'string' [C:\Users\harry\Source\neo\official\3neo-monorepo\devpack\src\Neo.Compiler.MSIL\Neo.Compiler.MSIL.csproj]
C:\Users\harry\Source\neo\official\3neo-monorepo\devpack\src\Neo.Compiler.MSIL\Program.cs(220,21): error CS0117: 'NefFile

[2020-12-10 09:04] #400 closed

[2020-12-11 10:49] csmuller opened #405 "Static constructor with local variable is not compiled properly"
The neon compiler (version neo3-preview3) allows the usage of static constructors, but it is not compiled correctly when using local variables in the static constructor, as shown in the code example below.

In my tests, the static field `i` was initialized to the value 2 instead of 20.
Local fields in the static constructor should probably be prohibited. At least an compiler exception should be th

[2020-12-11 12:27] shargon commented on #405
@lightszero could you take a look please?

[2020-12-12 13:47] lightszero commented on #405
we just support code like below when we write this.
so static constructor  is sideeffect.T_T
[code]
we have to think more about static constructor.

1.first step,I will try to check code in static consturctor and throw it if we can't calc it right.
2.next step,I will try to find a safe way to calc them.

[2020-12-15 04:34] #405 closed

[2020-12-16 23:52] devhawk opened #407 "Nep17 contract should use _deploy"

[2020-12-17 09:54] shargon opened #408 "Update nef-file"
Sync with https://github.com/neo-project/neo/pull/2160

[2020-12-17 22:26] shargon commented on #407
It will be solved with https://github.com/neo-project/neo-devpack-dotnet/pull/409

[2020-12-18 15:20] devhawk opened #411 "Ship NEON for Neo 3 on nuget.org as a packaged tool"
Now that we've tagged preview 4, can we publish the preview 4 neo.neon package on nuget.org?

cc @erikzhang @lightszero

[2020-12-19 13:05] erikzhang commented on #411
Done.

https://www.nuget.org/packages/Neo.Neon/3.0.0-preview4

[2020-12-19 13:05] #411 closed

[2020-12-19 14:31] devhawk commented on #411
Thanks @erikzhang. Can we also do this for neo modules? https://github.com/neo-project/neo-modules/issues/202

[2020-12-19 14:40] #407 closed

[2020-12-24 03:10] ProDog opened #412 "Remove System.Contract.Call"
Sync changes of https://github.com/neo-project/neo/pull/2166.

[2020-12-28 07:31] cloud8little opened #416 "Sync with Call Token"
https://github.com/neo-project/neo-vm/pull/382

[2020-12-29 01:43] djnicholson opened #417 "neon 3.0.0-preview4 works on Windows but gives build error on Mac (not support opcode IL_000A Newobj System.Void System.DateTime::.ctor)"
I have a Windows and Mac machine; both have .NET Core 3.1.404 and both have neon installed globally:

[code]

I also have the same trivial contract code on each machine:

[code]

The above code compiles to MSIL fine on Windows and Mac.

On Windows, `neon -f FooContract.dll` works as expected. On Mac, I see the following:

[code]

[2020-12-29 06:31] Tommo-L commented on #416
Will we replace `System.Contract.Call` by `CALLT`?

[2020-12-29 07:01] Tommo-L commented on #417
We'll fix it.

[2020-12-30 21:21] gsmachado commented on #417
+1

[2021-01-04 03:36] cloud8little opened #418 "Add methodToken"
https://github.com/neo-project/neo/pull/2185

[2021-01-05 02:38] cloud8little commented on #416
@shargon

[2021-01-05 12:48] shargon commented on #416
If no one is working on it, I will start it today

[2021-01-12 15:53] shargon commented on #416
Wait for https://github.com/neo-project/neo-devpack-dotnet/pull/414

[2021-01-12 15:53] shargon commented on #418
Wait for https://github.com/neo-project/neo-devpack-dotnet/pull/414

[2021-01-13 10:41] cloud8little opened #419 "Slot initialized error when change local variables in contract and return type is void"
contract like this(change a's value and put the value back to a ):

[code]

[code]

or

[code]

[2021-01-13 10:45] erikzhang commented on #419
`op:[004B]STLOC0` should be `op:[004B]STARG0`.

[2021-01-13 10:48] cloud8little commented on #419
why it did not show error when return type is not void?

[2021-01-13 11:15] #412 closed

[2021-01-13 11:43] shargon commented on #416
@erikzhang we should use `CALLT` only for native contracts right? otherwise it's a state dependant compilation

[2021-01-13 11:52] erikzhang commented on #416
It should be used for all static calls.

[2021-01-13 15:10] Tommo-L opened #421 "Add NameService"
Apply https://github.com/neo-project/neo/pull/2201

[2021-01-14 07:23] #419 closed

[2021-01-14 09:23] #239 closed

[2021-01-14 14:55] #421 closed

[2021-01-14 15:16] #328 closed

[2021-01-15 06:57] ProDog opened #428 "Method name Does Not Exist In ContractManagement"
`ContractManagement` has no method named `name` in neo-core.
https://github.com/neo-project/neo-devpack-dotnet/blob/c9a63d716c49945beb9ee71c998837cf124582c1/src/Neo.SmartContract.Framework/Services/Neo/ContractManagement.cs#L9

[2021-01-15 08:29] #416 closed

[2021-01-15 08:29] #418 closed

[2021-01-15 08:35] #428 closed

[2021-01-15 08:58] cloud8little opened #431 "BigInteger.Parse Issue"
Use BigInteger.Parse does not work.

![f8fa6bce1fe692a28af893696dee24e](https://user-images.githubusercontent.com/34291844/104703967-fdaf7000-5752-11eb-9a0f-fb16ccc83f8e.png)

![55244b3ab4c875c83e2ea96acae3f45](https://user-images.githubusercontent.com/34291844/104703982-03a55100-5753-11eb-83b0-7fc306c4bc38.png)

[2021-01-15 09:00] shargon commented on #431
Could you detail the issue?

[2021-01-15 09:08] ProDog commented on #431
The contract doesn't seem to support `BigInteger.Parse(string)`.

[2021-01-15 09:12] cloud8little commented on #431
https://github.com/neo-project/neo-devpack-dotnet/blob/3c01c3eb179072e9365f50340f4bcb8ca071cd80/tests/Neo.Compiler.MSIL.UnitTests/UnitTest_StaticVar.cs#L49-L58

[2021-01-15 09:53] chenzhitong opened #432 "BigInteger.Zero cannot compile successfully"
[code]

[code]

[2021-01-15 09:56] erikzhang commented on #432
Why not just use `0`?

[2021-01-15 10:18] shargon commented on #432
I will fix it

[2021-01-15 10:24] shargon commented on #431
I will fix it in https://github.com/neo-project/neo-devpack-dotnet/pull/433

[2021-01-15 10:31] shargon commented on #431
Could you check https://github.com/neo-project/neo-devpack-dotnet/pull/433/commits/e113903f4fe950f022e28cdb4596b14a9ab7bf1d it seems that it works.

Do you know if it's stored in your contract as string ?

[2021-01-15 15:44] cloud8little opened #436 "SYSCALL Unknown when deal with onPayment"
1. deploy NEP17 template contract.  (https://github.com/neo-project/examples/pull/33)
2. invoke enablePayment
3. open neo to the contract address.

![a68f65499d1da92e5e7db5413f29944](https://user-images.githubusercontent.com/34291844/104747250-4256fd80-578b-11eb-8421-7cc3d904b484.png)

![22de03674006e1211969349833c20a3](https://user-images.githubusercontent.com/34291844/104747270-484cde80-578b-11e

[2021-01-15 17:50] erikzhang commented on #436
What is the value of `value`?

[2021-01-16 00:25] cloud8little commented on #436
\u0001

[2021-01-16 11:29] shargon commented on #436
We should unify the key

![image](https://user-images.githubusercontent.com/3167973/104810640-51bf6080-57f6-11eb-86f2-f2e1a7e51a7f.png)

instead of `ToBigInteger` we should use a cast, isn't it?

[2021-01-16 11:44] #432 closed

[2021-01-16 11:44] #431 closed

[2021-01-17 07:42] cloud8little commented on #436
@shargon you're right. close this because it is also caused by BigInteger.Parse.

[2021-01-17 07:42] #436 closed

[2021-01-18 02:07] cloud8little opened #437 "Unify BigInteger Convert Method"
Currently we have three convert method about BigInteger. we should unify these methods.

[code]

[code]

[code]

[2021-01-20 14:01] #408 closed

[2021-01-20 14:02] #394 closed

[2021-01-21 19:05] djm34 opened #441 "how to use on linux to compile smartcontract ?"
Hello,
is it possible to use that package on linux (and how).
I have used a bit neo-compiler but apparently neo-compiler doesn't support neo3-preview (?)

Thanks for your help

[2021-01-21 21:02] vncoelho commented on #441
Hi @djm34,

https://neocompiler.io/#nav-compilers/ has been updated recently, but not yet stable.
We are still adjusting deploy and invoke functionalities, creating a specific tab that manages `NativeContracts` operations.

But I believe that you can already use it to compile codes following master, current commit of our online version is https://github.com/neo-project/neo-devpack-dotnet/commit/c7

[2021-01-21 21:15] devhawk commented on #441
https://github.com/devhawk/registrar-sample works on linux and windows

[2021-01-25 09:42] djm34 commented on #441
Hello,
thanks for the answers.
yeah, I am more interested in a way to compile/deploy/manage contract in a way as  automated as possible... hence on linux.
However if it is possible to submit through API something to neocompiler it could be an interesting alternative too
I will have a look to these 2 projects,
thanks again,
djm34

[2021-01-26 02:59] chenzhitong opened #443 "Syntax checking bug on Storage.Put(Storage.CurrentContext, string, string)"
**code:**
[code]

The compilation **should not pass** here, because an overloaded method (`void Put(Neo.SmartContract.Framework.Services.Neo.StorageContext context, string key, string value)`) is missing
![image](https://user-images.githubusercontent.com/6295602/105794137-5db0dc80-5fc5-11eb-8c71-ce2c73f5d3ab.png)

However, it will compile and pass, but the deployment will report an error
![image](

[2021-01-26 03:11] erikzhang commented on #443
You need to provide the `StackTrace` of the exception to report the bug. @chenzhitong

[2021-01-26 03:16] chenzhitong commented on #443
Deleting the old blockchain files and redeploying, it worked

[2021-01-26 03:16] #443 closed

[2021-01-29 09:13] bettybao1209 opened #447 "return type for Iterator is IInteropInterface"
![image](https://user-images.githubusercontent.com/12050350/106255499-10e33500-6255-11eb-819d-712b8fe87021.png)

Since the return type `Iterator ` in nameservice is compiled into `IInteropInterface ` rather than `InteropInterface`, so it fails to deploy the contract.

[2021-01-29 09:16] shargon commented on #447
Coud you send the manifest?

[2021-01-29 09:18] shargon commented on #447
Please check if https://github.com/neo-project/neo-devpack-dotnet/pull/448 fix this issue

[2021-01-29 09:25] bettybao1209 commented on #447
It works for this case.

[2021-01-29 09:28] bettybao1209 commented on #447
Also, it needs to sync https://github.com/neo-project/neo/pull/2271

[2021-01-29 09:30] shargon commented on #447
We have this https://github.com/neo-project/neo-devpack-dotnet/pull/446

[2021-01-29 21:33] #447 closed

[2021-02-03 03:36] chenzhitong opened #451 "Smart contract can not deploy again."
Contracts cannot be successfully deployed again after https://github.com/neo-project/neo-devpack-dotnet/pull/450
code
![image](https://user-images.githubusercontent.com/6295602/106694699-0d182f80-6614-11eb-92ab-dc852c611a65.png)

manifest
[code]

deploy
![image](https://user-images.githubusercontent.com/6295602/106694435-8b280680-6613-11eb-8925-6dbecf1ea417.png)

Version:
neo-node latest version
n

[2021-02-03 06:45] #451 closed

[2021-02-03 13:36] vncoelho opened #454 "Compiling error on Preview5 HelloWorld example"
[code]

[2021-02-03 15:20] #454 closed

[2021-02-03 15:24] vncoelho opened #456 "[Question] Storage Get and Put for Preview5"
Previously, we had to efforts to remove the parameter `Storage.CurrentContext` from both calls.

Are there other `Context` that we may access nowadays, right (such as calling other allowed contracts)?
In such case, `Storage.Get(Storage.CurrentContext, "Hello");` should be kept like that. Otherwise, we could simplify it and we did in the past.

[2021-02-04 02:46] chenzhitong opened #458 "About UInt160.IsValid"
https://github.com/neo-project/neo-devpack-dotnet/blob/01fe0f6cd9cdf66c858b41c90540c3e700874a8f/src/Neo.SmartContract.Framework/UInt160.cs#L3-L27

[code]

If an object is already of type `UInt160`, then why do we need to determine `IsValid`? @shargon

[2021-02-04 04:15] erikzhang commented on #458
Because `UInt160` is a high level type. The underlying type in vm is `ByteString`. We have to check it.

[2021-02-04 08:00] erikzhang opened #459 "We need a way to declare the manifest permissions"
All `NEP-17` contracts need the following permission.

[code]

[2021-02-04 18:59] devhawk opened #460 "Missing v3.0.0-preview5 tag"
(Note, I originally opened this issue in the wrong repo)

[2021-02-05 08:44] #459 closed

[2021-02-07 09:03] shargon opened #463 "Sync #2301"
Sync with https://github.com/neo-project/neo/pull/2301

[2021-02-07 09:09] shargon commented on #463
Not needed, already included inside https://github.com/neo-project/neo-devpack-dotnet/pull/462

[2021-02-07 09:09] #463 closed

[2021-02-07 10:26] cloud8little opened #464 "enum type of SmartContractFramework can not be recognized"
Oracle contract:  https://github.com/neo-project/examples/blob/6f63197932674a6e29cdb7598a8cabee88e56784/csharp/Oracle/OracleDemo.cs#L23

[code]

Build the contract using the latest neo core and the compiler. Build nef and manifest file successfully. but it shows type unknown in the manifest file.

`{"name":"code","type":"Unknown:Neo.SmartContract.Framework.Services.Neo.OracleResponseCode"}`

[2021-02-08 03:48] #464 closed

[2021-02-08 19:08] shargon opened #466 "sync #2298"
Sync with https://github.com/neo-project/neo/pull/2298

[2021-02-11 17:58] devhawk opened #468 "devpack doesn't compile against neo master"
[code]

[2021-02-16 07:34] #466 closed

[2021-02-23 04:03] cloud8little opened #471 "Add SQRT and POW"
https://github.com/neo-project/neo-vm/pull/399
sync with neo-vm 399

[2021-02-24 12:31] #471 closed

[2021-03-11 03:39] chenzhitong opened #475 "[Suggestion] automatically add permissions?"
If permission is not added, an error will occur when the contract is upgraded and destroyed.
This is because it calls the `ContractManagement` native contract, but does not declare permissions.

Solutions:

1. The compiler automatically adds permissions when it detects code that calls a native contract.
2. Add ContractManagement to the permissions by default.
2. Do nothing, Let the developer add i

[2021-03-11 06:51] Qiao-Jin opened #476 "Need to rearrange API of native contracts"
**Summary or problem description**
Currently there's no clear rule about which APIs in native contracts should be exposed. So there are some contradictions in this part, i.e.

(1) Some APIs are not likely to be called in smart contract. For example, `Policy.BlockAccount` & `Policy.UnblockAccount`

(2) Some APIs are exposed while some similiar ones are not. For example, `NameService.GetPrice` is ex

[2021-03-11 09:21] shargon commented on #475
I think that option 2 it's good

[2021-03-12 09:30] #476 closed

[2021-03-17 09:01] #475 closed

[2021-04-01 13:42] erikzhang commented on #168
I think it's solved by #482.

[2021-04-01 13:42] #168 closed

[2021-04-03 02:27] cloud8little opened #498 "Neo Compiler CSharp Feedbacks"
This issue is opened for all feedbacks for the new developed CSharp compiler.

[ToBeAdded]

- [x]  #499 Support ByteString explicit cast for BigInteger type
- [x] #501 Support array foreach
- [x] #502 Support ToByteArray() overload
- [x] #503 Storage Find with RemovePrefix Option only remove One Byte
- [x] #521 Support Extended Method for type
- [x] #527 Check null should return
- [x] #539 nccs pr

[2021-04-03 02:40] cloud8little opened #499 "Support ByteString explicit cast for BigInteger type"
Currently it is not allowed to use (ByteString)a to convert.

[code]

[2021-04-03 08:45] cloud8little opened #501 "Support array foreach"
[code]

[2021-04-03 09:12] Lichen9618 opened #502 "Support ToByteArray() overload"
[code]

Version: System.Runtime.Numerics, Version=5.0.0.0, Culture=neutral
BigInteger support two ToByteArray() method.

In our  latest compiler(2021/4/3), only first one has been supported.
Can we try two support both _ToByteArray_ method?

[2021-04-03 09:22] cloud8little opened #503 "Storage Find with RemovePrefix Option only remove One Byte"
[code]

Result:

![183bfb4dcb8190db8551caba7879ae1](https://user-images.githubusercontent.com/34291844/113474166-cf634600-94a0-11eb-8714-d072397c22d3.png)

![8e3d70eb6303bf5804448e68d32196d](https://user-images.githubusercontent.com/34291844/113474171-d7bb8100-94a0-11eb-9f6b-7b0dbdd5b4f2.png)

The result still return the prefix x defined in the function.

[2021-04-03 10:11] #499 closed

[2021-04-03 10:14] erikzhang commented on #503
We only support one byte prefix.

[2021-04-03 10:14] #503 closed

[2021-04-03 10:55] erikzhang commented on #502
After discussion, we do not intend to implement it.

[2021-04-03 10:55] #502 closed

[2021-04-03 15:00] #501 closed

[2021-04-06 09:04] cloud8little opened #514 "support ternary operator correctly"
Contract:
[code]
after deploy contract, and invoke getAdmin
[code]

![2c62e65f257d9b24937de770133240a](https://user-images.githubusercontent.com/34291844/113686628-097b5480-96fa-11eb-9665-42c1caf63746.png)

[2021-04-06 09:32] cloud8little opened #517 "Call Internal Function Error"
**Contract**
[code]

[code]

![99ba330aa32f6f4a10880c6eb1d9111](https://user-images.githubusercontent.com/34291844/113690384-e9e62b00-96fd-11eb-8cd7-d6b449cecc77.png)

the second item is "Forbidden", the first item is Null.

[2021-04-06 11:47] #514 closed

[2021-04-06 12:01] #517 closed

[2021-04-07 06:40] cloud8little opened #521 "Support Extended Method for type"
[code]

Call like this:
[code]

the same for byte[].\<methodname>

[2021-04-08 02:38] #521 closed

[2021-04-08 10:11] cloud8little opened #527 "Check null should return"
[code]

![baafbd73537219e3ab6722b5ed17c03](https://user-images.githubusercontent.com/34291844/114002837-d23eac00-988f-11eb-8f55-301c2d481428.png)

![8e5827c7fd0a5012901451f5ebad9e2](https://user-images.githubusercontent.com/34291844/114002986-f9957900-988f-11eb-82ff-cb524abafda7.png)

![c47ca96fed5122a86921554b0a56ba3](https://user-images.githubusercontent.com/34291844/114002999-fb5f3c80-988f-11eb

[2021-04-08 11:02] shargon commented on #527
@cloud8little could you modify the test from https://github.com/neo-project/neo-devpack-dotnet/pull/528 to replicate the issue? It works for me

[2021-04-08 22:17] devhawk opened #529 "new class instance + Indexer support"
With #511, will NCCS be able to create C# helper class instances? What about indexers?

I'm thinking of something like this:

[code]

[2021-04-08 23:36] devhawk opened #530 "TypeParameters on StorageMap"
Is it possible with NCCS to have a typed storage map? Something like this

[code]

Note, if we have/can add indexer support a la #529, then StorageMap could support indexer format as an alias for Get/Put

[code]

[2021-04-09 03:14] erikzhang commented on #530
But how do we constrain the type parameters?

[2021-04-09 08:02] chenzhitong opened #533 "The path is empty. (Parameter 'path')"
The parameter Path can only be used as an absolute or relative path, not directly with the project name, even if the project is in the current directory.

[code]

[2021-04-09 09:54] nicolegys commented on #529
I wrote a simple contract just like yours, invoked `getValue` `setValue` `transferAll` and got the expected return value.
[code]

[2021-04-09 11:38] #533 closed

[2021-04-09 16:42] devhawk commented on #530
Hit close by mistake

[2021-04-09 16:58] devhawk opened #538 "Contract_OptimizationTest has invalid ToScriptHash call"
`Helper.ToScriptHash` has been removed.

[code]

[2021-04-09 17:10] erikzhang commented on #538
https://github.com/neo-project/neo-devpack-dotnet/blob/eb7359866d65799086b9c9d1862902982650dd52/src/Neo.SmartContract.Framework/InitialValueAttribute.cs#L6

Please use `InitialValueAttribute`.

[2021-04-09 19:59] devhawk commented on #538
The test contract should be updated or removed

[2021-04-09 22:57] devhawk opened #539 "nccs provides no error location information"
When the C# compilation step succeeds but the C# -> NEOVM step fails, we get no information about where in the code the error is located.

Example error output:

[code]

[2021-04-10 00:07] devhawk opened #540 "nccs doesn't pick up CS file from parent folder specified in .csproj file"
I'm trying to compile a project that references a .CS file from a parent folder. normal C# compilation succeeds but NCCS fails with a [CS0234 error "type or namespace does not exist"](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0234) for any types defined in the file in the parent folder

Example csproj file contents:

[code]

[2021-04-10 00:12] devhawk opened #541 "nccs can't compile contract w/ custom attribute on method"
NCCS seems to support custom attributes on properties, but not on methods

Note, I do *NOT* expect to be able to retrieve the custom attribute information at runtime from within the contract. The custom attribute I'm defining is only for analysis tool purposes

Example C# code:

[code]

Output:
[code]

[2021-04-10 00:13] devhawk commented on #541
Note, I am able to specify a custom attribute that takes a string parameter:

[code]

[2021-04-10 22:10] devhawk commented on #498
Please add #539, #540 and #541

[2021-04-11 06:35] #538 closed

[2021-04-11 06:36] shargon commented on #541
It should be good to execute the code of the attribue before the method, like a modifiers

[2021-04-11 06:51] #541 closed

[2021-04-12 01:10] devhawk commented on #498
@cloud8little I didn't realize that I could change your comment if I clicked on a check box! I accidently clicked on the #541, but I unclicked it.

[2021-04-12 02:24] chenzhitong opened #547 "MSBUILD : error MSB1011: Specify which project or solution file to use because this folder contains more than one project or solution file"
When the solution file and the project file are in the same folder and have different names, the following error will be reported
[code]

![image](https://user-images.githubusercontent.com/6295602/114332474-e24cd900-9b78-11eb-9fed-3476d95df84c.png)

Change their file names to the same name to compile successfully.

![image](https://user-images.githubusercontent.com/6295602/114332456-dd882500-9b78-

[2021-04-12 06:11] #540 closed

[2021-04-12 06:45] erikzhang commented on #547
It should be fixed by #546

[2021-04-12 08:03] chenzhitong commented on #547
Yes, it's fixed

[2021-04-12 08:21] shargon commented on #539
Could you provide an example, in my test I get the line

![image](https://user-images.githubusercontent.com/3167973/114363627-df51e880-9b78-11eb-8387-38750634dfae.png)

[2021-04-12 13:01] #527 closed

[2021-04-12 17:48] devhawk opened #549 "nccs should accept multiple .cs files on the command line"
Currently, only a single .cs file path can be passed to nccs. it should support multiple .cs files passed in on the command line like csc.exe does

[2021-04-12 17:56] devhawk opened #550 "nccs should support /reference command line option like csc.exe"
Currently, nccs uses a hard coded list of references in `CompilationContext.Compile` when compiling a smart contract. While having a list of hard coded references to use as a default is reasonable, it should also be possible to pass the list of metadata references via the command line using the /reference or -reference command line option as csc does. MSBuild already has the capacity to calculate

[2021-04-12 17:59] devhawk opened #551 "Create NccsTask for MSBuild"
Instead of attempting to replicate the msbuild logic for calculating the list of source files and metadata references of a contract project, nccs should simply depend on msbuild to calculate this info and pass it to nccs on the command line. the main C# compiler has the [CscTask msbuild task](https://docs.microsoft.com/en-us/visualstudio/msbuild/csc-task) that accepts the list of references + sour

[2021-04-12 18:01] devhawk commented on #498
Please add #549, #550, #551

[2021-04-12 18:42] devhawk commented on #539
I guess I must of hit a case where the source location wasn't getting surfaced. Since #541 is fixed, I'll close this issue. If I hit this anywhere else, I'll reopen w/ a better repro

[2021-04-12 18:42] #539 closed

[2021-04-13 03:36] #547 closed

[2021-04-13 04:55] erikzhang commented on #550
Yes, you can.

If the methods in your library contains a method body, then you must include the source code. If all methods are `extern` methods, then there is no need to include source code.

[2021-04-13 12:16] #549 closed

[2021-04-13 16:25] #468 closed

[2021-04-14 04:53] wschae opened #558 "NCCS Documentation?"
Hi Team,

Can you point to any documentation on nccs.exe? I guess that it has replaced neon.exe. It would be great to see some documentation or roadmap of this change 👍 Although it was limited, neon.exe has supported VB and F# (through dll) and I am wondering if the team will focus on C#.

[2021-04-14 05:04] erikzhang commented on #558
There is currently no documentation for nccs. Can you clarify what type of document you want? We will add as soon as possible.

There are currently no plans to support VB and F#. Before Roslyn provides a more complete `IOperation` API, we will focus on C#.

[2021-04-14 05:46] wschae commented on #558
Something like this (https://docs.neo.org/docs/en-us/gettingstarted/develop.html) would be enough. I am following the document to know how to use it and found no document on nccs.exe (could be too early 😅)

Thanks for clarification on C#. Sounds reasonable to me and I can see a lot of efforts to move from mono to Roslyn. Can I assume that there will be no more neon.exe in NEO 3?

[2021-04-14 06:47] nicolegys opened #560 "Return help information when using nccs without any argument or option."
When I enter "nccs" without any argument or option at the terminal, it will work on the current path by default, and throw exception.
![image](https://user-images.githubusercontent.com/43694095/114665377-89737100-9d2f-11eb-8d52-732f21f4112f.png)

I think we should return help information in this case, just like `dotnet`
![image](https://user-images.githubusercontent.com/43694095/114665660-e2dba000

[2021-04-14 07:08] erikzhang commented on #560
If no parameter is provided, it will compile the `.csproj` file in the current directory. You can use `--help` to show the help information.

[2021-04-14 07:09] erikzhang commented on #558
@neo-project/ngd-shanghai Please update the docs.

Yes.

[2021-04-14 07:19] cloud8little commented on #560
for better experience, it should show help info in this case, because lots of new-learners will just input the command nccs to know how it works. and if it accidently run the command in a parent folder which contains lots of csproj file, it is a disaster.

[2021-04-14 07:22] chenzhitong commented on #560
For new developers, after configuring the environment variable path, type `nccs` on the command line in any location to check if the configuration is correct. It is very unfriendly to report errors directly at this point.

[2021-04-14 07:28] ProDog commented on #560
In addition, some log information is needed when compiling, and this is the only output now:
[code]
No way to know whether really successful compilation.

[2021-04-14 09:48] shargon commented on #560
@ProDog please check https://github.com/neo-project/neo-devpack-dotnet/pull/562/commits/cf12556d8dbc0a3e77b57fbe86d60bcd66ee342a

[2021-04-14 10:02] ProDog commented on #560
It's OK:
[code]

[2021-04-14 10:56] bettybao1209 opened #563 "FindOptions.RemovePrefix only removes one byte size of prefix"
Since RemovePrefix only removes the first byte of the key as defined in https://github.com/neo-project/neo/blob/master/src/neo/SmartContract/Iterators/StorageIterator.cs#L35

Then for https://github.com/neo-project/neo-devpack-dotnet/blob/master/src/Neo.SmartContract.Framework/Services/Storage.cs#L89, if we set FindOptions.RemovePrefix,  it seems the prefix cannot be truely removed. Is it intended

[2021-04-14 11:05] erikzhang commented on #563
We only remove the first byte.

[2021-04-14 11:09] erikzhang commented on #563
@bettybao1209 I think it is possible to remove the full prefix. I will create a PR.

[2021-04-14 15:25] vncoelho opened #565 "Error when compiling example with nccs"
we are still setting up NeoCompiler Eco for the new nccs compiler.

We got the following error using this template:

[code]

[code]

[2021-04-14 22:46] devhawk opened #566 "CSharp compiler missing hash value"
From [NDX-DN11 - NEO Debug Info Specification}(https://github.com/ngdenterprise/design-notes/blob/master/NDX-DN11%20-%20NEO%20Debug%20Info%20Specification.md#v11-format)

Even though Neo 3 no longer uses the script hash for invocation, the debugger still uses it to associate debug info with NEF file script contents.

[2021-04-14 22:46] devhawk commented on #498
#566

[2021-04-14 22:52] devhawk opened #567 "Interface field causes nccs to crash"
Contract:
[code]

Output:
[code]

[2021-04-14 22:54] devhawk commented on #529
@nicolegys I tried taking this sample and introducing an IMap interface, but nccs throws in that case: #567

[2021-04-15 01:11] erikzhang commented on #565
Why the source file is a .dll?

[2021-04-15 01:13] erikzhang commented on #566
The compiler lacks the `Transaction.Sender` field necessary to calculate the hash.

[2021-04-15 01:15] erikzhang commented on #567
We currently have no plans to support interfaces.

[2021-04-15 01:23] wschae opened #568 "ProjectReference causes nccs to crash"
If the project has a 'project reference' in it, nccs crashes:

[code]
![image](https://user-images.githubusercontent.com/4300700/114799762-41634700-9d4d-11eb-9154-073e7f6574aa.png)

Since it is looking for the entry "[libraries][name][files]" but there is no [files] entry for "project" type:

![image](https://user-images.githubusercontent.com/4300700/114800074-db2af400-9d4d-11eb-9b5d-d1eda0fa3990.

[2021-04-15 02:45] #563 closed

[2021-04-15 03:52] erikzhang commented on #568
I will create a PR to support ProjectReference. But fsproj is still not supported.

[2021-04-15 04:34] erikzhang commented on #568
@wschae Please check #570. I think it should work, but it doesn't. I don't know why.

[2021-04-15 05:33] devhawk commented on #567
nccs should report that as an nccs specific diagnostic error, not throw an exception and crash

[2021-04-15 05:43] devhawk commented on #566
This value is not the invocation hash, it's purely the script hash, calculated by `Neo.SmartContract.Helper.ToScriptHash`

[2021-04-15 05:55] erikzhang commented on #566
Will this not cause confusion?

[2021-04-15 07:11] #567 closed

[2021-04-15 07:25] wschae commented on #568
@erikzhang The PR works for me. Can you elaborate what was not working?

[2021-04-15 10:37] vncoelho commented on #565
I do not know, it was given as a generic folder:

[code]

[code]

[2021-04-15 10:38] vncoelho commented on #565
Using the last branch `ProjectReference`, the problem was solved.

[2021-04-15 14:57] devhawk commented on #566
I don't see why it would, it's stored inside the .nefdbgnfo file and only used inside the debugger implementation.

Even if it was confusing, the debugger needs a way to ensure the debug info is associated with the correct version of the contract script. Contracts compiled by nccs are not debuggable without it

[2021-04-15 15:42] erikzhang commented on #566
What about use a guid?

[2021-04-15 16:08] devhawk commented on #566
Needs to be deterministic + the debugger already is implemented this way.

[2021-04-15 18:56] devhawk opened #574 "nccs sequence point issues"
Using https://github.com/devhawk/neo-registrar-sample/tree/devhawk/nccs-sequence-points to compare debugging experience between NEON and NCCS.

The sequence points generated by NEON for Register operation are:
[code]

Sequence points generated by NCCS for Register operation are:
[code]

NCCS sequence points have the following issues:
* NCCS is producing fewer sequence points than NEON, which leads

[2021-04-15 18:57] devhawk commented on #498
Please add #574

[2021-04-15 23:19] #568 closed

[2021-04-16 00:01] erikzhang commented on #574
That is because the `NOP` instructions are optimized.

[2021-04-16 01:50] devhawk commented on #574
If NoOptimize is specified, will these extra sequence points be left in?

[2021-04-16 02:28] erikzhang commented on #574
Yes.

[2021-04-16 03:19] #566 closed

[2021-04-16 07:18] #574 closed

[2021-04-16 08:53] RichardBelsum opened #577 "The "as" keyword is not supported?"
Compile failure
[code]

Compile successfully
[code]

[2021-04-16 09:06] steven1227 commented on #560
We need fix this. Almost 99% of modern tools will display log when you did not append arguments.

[2021-04-16 10:14] erikzhang commented on #577
It's not supported.

[2021-04-16 10:16] #565 closed

[2021-04-17 08:11] #577 closed

[2021-04-17 08:14] #458 closed

[2021-04-17 08:16] #441 closed

[2021-04-17 08:17] #437 closed

[2021-04-17 08:17] erikzhang commented on #417
Is it fixed?

[2021-04-17 08:21] #266 closed

[2021-04-17 08:22] #244 closed

[2021-04-17 08:23] #213 closed

[2021-04-17 08:24] #191 closed

[2021-04-17 08:25] #190 closed

[2021-04-17 08:25] #153 closed

[2021-04-17 08:26] #108 closed

[2021-04-17 09:01] #83 closed

[2021-04-17 10:29] #560 closed

[2021-04-18 02:35] #84 closed

[2021-04-18 02:35] #530 closed

[2021-04-19 07:44] RichardBelsum opened #581 "How to add a Trust field to a contract"
![image](https://user-images.githubusercontent.com/82148280/115199300-a50ebb00-a125-11eb-83fb-ae107b5d34dd.png)

Why are ContractPermissions added via Attributes, and ContractTrusts can't do that?

[2021-04-19 19:44] djnicholson commented on #417
This no longer repros on my Mac with neon 3.0.0-rc1

[2021-04-19 19:44] #417 closed

[2021-04-20 08:45] #581 closed

[2021-04-23 23:28] devhawk opened #583 "Should StorageMap.Prefix be a ByteString instead of a byte[]?"

[2021-04-24 01:43] erikzhang commented on #583
What's the difference?

[2021-04-24 05:24] devhawk commented on #583
Isn't byte array writable while bytestring is not?

[2021-04-24 23:28] devhawk commented on #550
@erikzhang I'll be happy to handle fixing #551 if you handle fixing #550

[2021-04-25 03:00] Lichen9618 opened #585 "Generate 'get' and 'set' by compiler for contract global variable?"
[code]
From now on, we have to write the code 'set' and 'set' for all variable in contract.
I would like to know can we generate this part by compiler automatically?

It will save lots of coding works.

[2021-04-25 03:23] erikzhang commented on #585
Automatically? Then everyone can modify the storage of your contract. I think you should call `CheckWitness` in `set`.

[2021-04-25 03:26] Lichen9618 commented on #585
emmm, it is just a example, we can use public , or private to management the access?

[2021-04-25 12:00] erikzhang commented on #550
@devhawk Can you provide an example how to use `/reference`?

[2021-04-25 15:38] devhawk commented on #550
MSBuild calculates the full list of references that the C# compiler will need to compile a given project. It handles the logic needed to locate core .net references like `System.Runtime` and `System.Numerics`, package references like `Neo.SmartContract.Framework` and project references (not used in this example). The paths to these references are passed to csc via the `/reference` command line opt

[2021-04-25 21:12] shargon commented on #585
I understand that @Lichen9618 want to replicate the logic of the variables in solidity, isn't it?

[2021-04-26 02:26] Lichen9618 commented on #585
Right，when I try to implement some solidity on Neo, I create a script to generate 'get' and 'set' part for variable. It saved a lot of work, and made the contract easy to understand for a new developer.

So I raise this issue to check if we can add this function to compiler

[2021-04-26 05:40] erikzhang commented on #585
I think you should use `StorageMap`.

In C#, an auto-implemented property is a wrapper of a backing field. For example:

[code]

It is equivalent to:

[code]

We should not modify its original semantics to confuse most C# developers.

[2021-04-26 06:43] erikzhang commented on #550
If so, we have kept most of the logic of analyzing `.csproj` and `project.assets.json`. I doubt whether it is meaningful to accept the `/reference` parameters.

[2021-04-26 15:20] devhawk commented on #550
As I understand it, `CompileSources` is used for compiling csharp source files directly - i.e. `nccs MyContract.cs` while `CompileProject` is used for compiling .csproj files (though most of the `.csproj` and `project.assets.json` parsing logic is in `GetCompilation`).

GIven the size of the MSBuild code base, I'm confident that we don't want to try and replicate that logic in `CompileProject` and

[2021-04-26 15:27] devhawk commented on #585
I'm a fan of this proposal, but @erikzhang is correct that C# developers would not expect properties to be automatically serialized.

If we used an attribute to indicate a property was storage backed, then we could respect the normal C# property semantics while still providing an easy path for developers to implement contract storage as per @Lichen9618's proposal.

Something like this (with specif

[2021-04-26 18:42] devhawk opened #587 "Add support for System.Math library"

[2021-04-26 22:20] devhawk commented on #585
FYI, I'm having problems with properties + nccs. I will try and build a minimal repro and open a new issue

[2021-04-26 22:47] devhawk opened #589 "nccs should emit a sequence point + nop for closing bracket of block"
Provides developers a mechanism to view local method state before method exits

[2021-04-27 04:30] erikzhang commented on #550
The problem is that we need to use the source code of the `Neo.SmartContract.Framework` package or any other packages. That means we have to analyze `project.assets.json`. If we only support `/references`, we won't be able to read the source codes of the references.

[2021-04-27 05:18] erikzhang commented on #585
I think using properties will give developers a sense of not having to consume too much GAS. But reading the storage will actually consume more GAS.

For example:

[code]

It costs a lot of GAS. But we usually think that properties and fields are the same low cost.

[2021-04-27 05:48] erikzhang commented on #589
There are sequence points for closing bracket of block. But the optimizer will remove all the `NOP`s. To keep them, you need to use `--no-optimize`.

[2021-04-27 06:25] #583 closed

[2021-04-27 13:25] devhawk commented on #589
Yup, my bad. It appears to be an issue with sequence points in methods with a return statement and/or expression block statements. I'll close this bug and open a new one after I investigate the problem further.

[2021-04-27 13:25] #589 closed

[2021-04-27 13:41] devhawk opened #590 "nccs should compile explicit return statements as jump to end of method NOP"
In --no-optimize mode, nccs emits a NOP opcode + sequence point for the closing bracket of a method followed by the final RET opcode. However, if there's an explicit return statement in the method, that sequence point is never hit.

It appears that explicit return statements are jumping to the RET opcode at the end of the method, bypassing the NOP opcode and it's associated sequence point.

Explic

[2021-04-27 13:42] devhawk commented on #589
Opened #590 for the return statement sequence point issue. Still investigating expression block methods

[2021-04-27 13:48] devhawk commented on #589
There also appears to be an issue with expression block sequence points, but it may be a debugger issue so I'll need to investigate more.

[2021-04-27 13:50] devhawk commented on #585
This seems like an argument *for* implementing @Lichen9618 proposal in a way that minimizes GAS, such as by caching the stored value on get and updating the cached value on set.

[2021-04-27 14:06] devhawk commented on #550
MSBuild provides the [ResolveAssemblyReferences](https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.tasks.resolveassemblyreference) that computes the full closure of references used in a given project. It would be straightforward to build an MSBuild task that enumerates those assembly references, checking for associated source files to be added to the list of sources that get passed to nc

[2021-04-29 01:09] #587 closed

[2021-04-29 04:25] #590 closed

[2021-04-29 21:19] devhawk opened #592 "property initializer compiled with nccs faulting with "Invalid type for PICKITEM""
using nccs + neo debugger generated from [neo-monorepo](https://github.com/devhawk/neo-monorepo)

With the following code, when I step into the `storageMap.Put(index, value);` line in StorageThreeMap indexer set, the execution engine faults with `Invalid type for PICKITEM: Any [InvalidOperationException] `.

[code]

If I replace the property initializer with the following code, it works as expecte

[2021-04-29 21:20] #529 closed

[2021-04-30 13:04] #592 closed

[2021-05-02 17:59] snowypowers opened #596 "nccs unable to locate nuget files due to filepath case sensitivity in Linux"
The introduction of #546 causes the compiler to utilize some `files` included in our nuget packages directory. The filepath is concatenated through several strings. This causes issues on Linux as the filesystem is case sensitive, resulting in the runtime unable to find the correct files.

Reproduction using a Ubuntu 20.04 env in WSL:
[code]

Expected:
Some compilation errors that is related to the

[2021-05-03 11:27] #596 closed

[2021-05-03 17:07] devhawk opened #598 "Multiple contracts in single project"
nccs generates the .nef file using the contract name in code rather than the file name as neon did. What happens if the developer implements more than one class that inherits from SmartContract in a given project?

If this isn't a supported scenario, nccs should emit an error during compilation if the developer implements more than one class that inherits from SmartContract in a single project

[2021-05-03 20:24] devhawk opened #599 "nccs doesn't report warning/error location"
Attempting to compile https://github.com/ngdenterprise/neo-fungible-token-sample with nccs, and I get the following output:

[code]

I'm pretty sure the error is on this line, but nccs should automatically emit line/column info when it encouters code it can't compile

[code]

[2021-05-03 21:21] devhawk commented on #558
Are we still telling developers to compile the dev tools locally instead of simply installing them using dotnet tool install? https://docs.neo.org/docs/en-us/gettingstarted/develop.html

[2021-05-03 21:43] devhawk opened #600 "Need contract template that works with dotnet new instead of VS2019"
https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates

[2021-05-04 07:16] shargon commented on #599
They must use

[code]

[2021-05-04 10:32] erikzhang commented on #558
@neo-project/ngd-shanghai

[2021-05-04 14:52] #598 closed

[2021-05-04 14:56] devhawk commented on #599
I knew that @shargon, but `nccs` should still report the file/line where the problem is located

[2021-05-04 15:00] devhawk opened #602 "Nccs needs option to specify the .nef filename"
`nccs` uses the [contract name](https://github.com/neo-project/neo-devpack-dotnet/blob/master/src/Neo.Compiler.CSharp/Program.cs#L111) as the filename for the generated .nef/.manifest.json/.nefdbgnfo files. There is no way for the build system to know the contract name without parsing the contents of the contract source.

`nccs` should have an option for specifying the base file name used for gene

[2021-05-04 18:40] devhawk opened #603 "nccs fails with file, succeeds with project"
Test Contract: https://gist.github.com/devhawk/6d9ba02ae26a7f7618f83087c631fc41

[code]

[2021-05-04 18:44] devhawk opened #604 "nccs generating invalid sequence points"
Test Contract: https://gist.github.com/devhawk/6d9ba02ae26a7f7618f83087c631fc41
Compiled with `dotnet nccs --debug --no-optimize TestContract.csproj`

In the generated debug info, we get sequence points that have an invalid document index of -1

[code]

[2021-05-04 23:37] devhawk opened #605 "nccs --version returns error"
[code]

[2021-05-05 05:13] erikzhang commented on #602
How about using the `AssemblyName`?

[2021-05-05 05:15] erikzhang commented on #603
If you compile directly from the source files, you can only use part of the functions in `Neo.SmartContract.Framework`, because its source code cannot be obtained.

[2021-05-05 05:26] erikzhang commented on #605
Bug of `System.CommandLine`?

[2021-05-05 05:30] devhawk commented on #602
Sure, `AssemblyName` MSBuild property would be fine.

[2021-05-05 06:08] devhawk commented on #603
It wouldn't work for all libraries, but it seems it would be feasible to embed whatever source from `Neo.SmartContract.Framework` is needed directly in nccs.

[2021-05-05 07:34] steven1227 commented on #558
OK. We will update.

[2021-05-05 07:59] shargon commented on #605
`--version` is automatically added? it's not possible to override it?

[2021-05-06 03:14] Ashuaidehao commented on #558
Please check this:  https://docs.neo.org/docs/en-us/gettingstarted/develop.html#using-visual-studio-code-to-develop

[2021-05-06 06:00] devhawk commented on #558
Very nice! Question: is there a repo for the Neo3.SmartContract.Templates ?

[2021-05-06 06:31] Ashuaidehao commented on #558
Here it is:
https://github.com/neo-ngd/Neo3.SmartContract.Templates

[2021-05-06 07:11] shargon commented on #599
It works for me if we remove the only one smart contract condition

[code]

[2021-05-06 13:56] devhawk commented on #599
@shargon you already [pointed out the solution](https://github.com/neo-project/neo-devpack-dotnet/issues/599#issuecomment-831732795) and I've already [fixed the sample](https://github.com/ngdenterprise/neo-fungible-token-sample/blob/master/src/Apoc.cs#L26).

[2021-05-06 14:03] devhawk opened #609 "dotnet new templates should be in this repo"
there are neo contract templates that work with `dotnet new` in the https://github.com/neo-ngd/Neo3.SmartContract.Templates repo. We should keep the various templates together in one repo.

Also, VS2019 16.8 and later supports `dotnet new` templates directly. We should consider eliminating the VS2019 templates in favor of `dotnet new` templates that work with both VS2019 and command line developer

[2021-05-06 19:24] devhawk commented on #604
This appears to happen when the StorageMap.Put<T>method is called

[2021-05-06 23:00] devhawk opened #610 "nccs emitting incorrect variables debug info for non static methods"
for non-static methods, `nccs` emits an extra argument for the `INITSLOT` opcode, representing the `this` parameter. However, `nccs` omits the `this` parameter in the debug info. Without the correct information in the debug info file, the debugger cannot correctly resolve local variables and arguments.

Example Method declaration
[code]

INITSLOT opcode in .NEF file:
[code]

`params` value from Cr

[2021-05-06 23:41] devhawk commented on #610
Note, instance methods were not supported in `neon` when the debug format was created.

Recommend fix for this is to add "this,Any" element to the front of the `params` array for instance methods.

[2021-05-07 00:40] devhawk opened #611 "add static variables to debug info emitted by nccs"
In order to support static variables in the debugger, we need to add a top level `static-variables` array to the debug json emitted by the compiler. This addition is documented in [v1.2 (draft) of the debug info design note](https://github.com/ngdenterprise/design-notes/blob/master/NDX-DN11%20-%20NEO%20Debug%20Info%20Specification.md#v12-format-draft)

This is a one line change in `nccs` `Compilat

[2021-05-07 07:06] cloud8little opened #614 "Add Big Endian Support for InitialValue Type"
Currently when ContractParameterType is ByteArray, it only allow the string value to be little endian hex string, it will be more convenient if "0x..." is supported also

[code]

[2021-05-08 07:28] erikzhang commented on #609
Is there any document about this?

[2021-05-09 12:57] #610 closed

[2021-05-10 04:08] #602 closed

[2021-05-10 04:10] #609 closed

[2021-05-13 06:09] devhawk opened #619 "nccs non-optimized builds need to emit separate variable slots for each local variable"
@devhawk

https://github.com/neo-project/neo-devpack-dotnet/pull/612/files#diff-27038bb15e8236627041207a01a839e1d9fe48fe6c7055371fd2cffc837d4df5R321

`variables` are not arranged according to the index of the slot too. Because different variables may share the same index.

For example:

[code]

Both the variables `i1` and `i2` use the slot index `0`.

_Originally posted by @erikzhang in https://gi

[2021-05-13 06:13] erikzhang commented on #619
If so, the debug info of optimized builds are not usable. I think maybe we should explicitly indicate the slot index used by the variables in the debug information.

[2021-05-13 06:15] erikzhang commented on #619
For example:

[code]

[2021-05-13 06:31] devhawk commented on #619
Optimized/release builds are rarely debuggable in any environment. As long as non-optimized builds are debuggable, we should be fine.

This is not sufficient information for the debugger. In addition to knowing there are two variables in a single slot, the deubgger would also need a mechanism to know which variable is valid at any given time.

[2021-05-13 06:36] erikzhang commented on #619
Then we shouldn't create the debug info in optimized builds.

[2021-05-13 06:41] erikzhang commented on #619
And there are some anonymous variables.

[code]

The value of the `collectionExpr` is stored in an anonymous variable, and it uses a slot.

[2021-05-13 06:42] devhawk commented on #619
I'm more worried about the debug experience on non-optimized builds. For optimized builds, we can investigate adding optional slot info to variables as you proposed.

[2021-05-13 06:49] devhawk commented on #619
If it uses a slot and isn't listed in the variables array, it throws off variable binding for every variable in the array after the missing one. If there are one or more anonymous slots are at the end of the slots, I don't think it's a big deal if they aren't listed in the variables array.

Note, you can inspect method arguments, local variables and static fields using a special hashtag prefixed s

[2021-05-13 07:33] #611 closed

[2021-05-17 07:33] RichardBelsum opened #621 "Const or Readonly"
https://github.com/neo-project/neo-devpack-dotnet/blob/4e651eccb4ee808d747062a348ea00fe94dbfbd2/src/Neo.SmartContract.Template/templates/neocontract/Contract1.cs#L16-L18

`Const` is assigned at compile time, and `Readonly` is assigned at runtime, so should we use `Const` to save on fees?

[2021-05-17 08:24] cloud8little opened #622 "Multiple partial cs file Contract Compile error"
Due to the change in https://github.com/neo-project/neo-devpack-dotnet/pull/601 , contract with multiple cs files compiler error:

![dcfec89ca537e9e2c5ff3f5b6c427b7](https://user-images.githubusercontent.com/34291844/118456891-fd88a680-b72b-11eb-871f-08df43a5b06d.png)

because it runs into the logic twice:

[code]

[nNEO.zip](https://github.com/neo-project/neo-devpack-dotnet/files/6492302/nNEO.zip

[2021-05-17 10:20] RichardBelsum opened #623 "Publish Neo.SmartContract.Template to NuGet"
How to use `Neo.SmartContract.Template`  to create a project?

Should you publish `Neo.SmartContract.Template` to NuGet and then use `dotnet new -i Neo.SmartContract.Template` to create a new project?

[2021-05-17 10:26] RichardBelsum commented on #623
This project is cool, no compiler installation and no environment variable configuration. You can refer to it.

https://github.com/neo-ngd/Neo3.SmartContract.Templates

[2021-05-17 16:45] devhawk commented on #623
I agree we should publish the [smart contract template from this repo](https://github.com/neo-project/neo-devpack-dotnet/tree/master/src/Neo.SmartContract.Template) on nuget for use with `dotnet new`

@ngdenterprise published templates for Neo Legacy (https://github.com/ngdenterprise/neo-templates) but we don't have any for N3

[2021-05-17 22:51] devhawk opened #624 "Poor developer experience with StorageMap.Get<T> and Put<T>"
It is very easy to mismatch `StorageMap` `Get` and `Put` methods. In the code below, the call to `owners.Put` actually calls `owners.Put<UInt160>`, which automatically calls `StdLib.Serialize` on the provided `UInt160 owner` parameter. However, since the type parameter for `StorageMap.Get<T>` method can't be determined implicitly, the call to `owners.Get` below actually calls the non-generic metho

[2021-05-17 23:01] devhawk opened #625 "StdLib should have To/FromAddress methods to convert address strings to UInt160 values"

[2021-05-18 04:11] erikzhang commented on #621
`InitialValue` doesn't support `const`.

[2021-05-18 07:03] erikzhang commented on #604
I think it is caused by #603, which is as expected.

[2021-05-18 17:54] devhawk commented on #604
the value in the brackets in an index into the documents array, so negative values don't make any sense.

[2021-05-19 05:10] erikzhang commented on #604
I got it. Please check #627

[2021-05-21 03:05] ProDog opened #630 "Throw warning when contract method name start with "_""
In https://github.com/neo-project/neo/blob/0260de5bc27107aa99cb4d4a6b41bcf8ad421d98/src/neo/SmartContract/ApplicationEngine.Contract.cs#L64,
contract method names that start with "_" are not allowed, so can we just throw warnings or errors when compiling?

[2021-05-21 07:55] #624 closed

[2021-05-21 07:57] #619 closed

[2021-05-21 08:05] #604 closed

[2021-05-22 08:43] #630 closed

[2021-05-23 09:43] #622 closed

[2021-05-23 14:41] devhawk commented on #604
https://discord.com/channels/382937847893590016/382938783563382784/846028896277102653

[2021-05-25 09:41] csmuller opened #634 "Negative numbers of certain ranges return as positive numbers"
Ok, the issue's title sounds weird but that's basically the observation of the problem.
Take a contract with the following method and deploy it.

[code]

Call `invokefunction` with negative integers and you will see that in some ranges the result of the invocation doesn't throw an exception and returns a positive integer. E.g.:
- -1000000 -> 15777216
- -5000000000000000 -> 67057594037927936

Teste

[2021-05-25 09:49] shargon commented on #634
![image](https://user-images.githubusercontent.com/3167973/119477436-3e497680-bd4f-11eb-9b55-db4899a69d19.png)

I can't reproduce the error with your example

[2021-05-25 11:35] csmuller commented on #634
Ok, strange. My tests are not done exclusively with the VM, but always through the neo-node (see image). So maybe it's not a NeoVM issue.

<img width="782" alt="Screenshot 2021-05-25 at 13 33 32" src="https://user-images.githubusercontent.com/37138571/119491082-d0f11200-bd5d-11eb-9a82-c05c69606573.png">

[2021-05-25 21:54] gsmachado commented on #634
@shargon could you reproduce using the `neo-node` and `neo-devpack-dotnet` as @csmuller described?

[2021-05-26 04:00] cloud8little commented on #634
It can be reproduced by neo-node, but UT of neo-devpack-dotnet can not, the issue is on the scriptbuilder side of neo-vm.

[2021-05-27 07:21] nicolegys opened #635 "Support optional parameters in contract method"
Now, even though the parameter has a default value, I still have to pass a value when I call this method.
```public static bool Update(ByteString nefFile, string manifest, object data = null)```
:(

[2021-05-27 07:46] shargon commented on #635
But `Itoa` and `Atoi` has default values...

[2021-05-27 08:15] erikzhang commented on #635
The compiler will automatically add arguments for default parameters.

[2021-05-27 08:58] nicolegys commented on #635
Confused.
I write a method with default parameter `b` in a smart contract.
[code]
Then I invoke this method without passing `b`, it will return error.
![image](https://user-images.githubusercontent.com/43694095/119795117-be680b80-bf0a-11eb-8c32-705b85664ce8.png)
Since `b` is an optional parameter, I think it should also support not passing `b`.

[2021-05-27 09:16] erikzhang commented on #635
The default parameter is a language feature.

[2021-05-27 09:24] Ashuaidehao commented on #635
Can we save the defaut value to manifest file?

[2021-05-27 09:24] erikzhang commented on #635
No.

[2021-06-01 20:54] devhawk opened #637 "nccs mixing implicit and explicit slot index in debug info"
You can't mix and match implicit and explicit slot indexes in debug info. Either all the variables in a given array must all be implicitly or explicitly indexed.

Example from the registrar sample:

[code]

[2021-06-02 07:19] shargon commented on #637
use -1 if there are no slot index? @devhawk

[2021-06-02 16:20] devhawk opened #638 "RC3 package for SmartContract Framework has not been published to nuget.org"

[2021-06-02 16:21] devhawk commented on #637
-1 is not a valid slot index, so please don't do that.

When using explicit slot indexes, simply omit values that don't have valid slot indexes

[2021-06-03 04:21] erikzhang commented on #638
Done.

[2021-06-03 04:21] #638 closed

[2021-06-10 11:02] cloud8little opened #641 "contract manifest actually returns struct instead of string"
**Describe the bug**
contract like this:

[code]

https://github.com/neo-project/neo/blob/16cbed244a21e5d976bc39513355c6207d2e5c64/src/neo/SmartContract/Manifest/ContractManifest.cs#L79-L92

**To Reproduce**
Steps to reproduce the behavior:
1. deploy the contract and invoke the method

**Expected behavior**
return string type.

**Screenshots**
![db1af2df6d79038171f068c776d508b](https://user-images

[2021-06-11 03:42] cloud8little opened #640 "Export nef byte files"
After compiling we will get nef and manifest file, while deploy needs to read the nef file which is not convenient for remote server operation.

How about export an nef byte file with/without Base64 encode which users can copy directly and use invokefunction for deployment, instead of writing his/her own convert script.

[2021-06-11 05:10] erikzhang commented on #641
It should be fixed in `Neo.SmartContract.Framework`.

[2021-06-18 20:48] devhawk opened #642 "Shouldn't mix static and instance methods in TokenContract and subclasses"
`TokenContract` defines abstract instance methods `Symbol` and `Decimals`, but the other methods like `TotalSupply`, `BalanceOf` as well as subclass methods such as `Transfer` and `OwnerOf` are static. It seems odd from a C# semantics perspective to mix and match like this

[2021-06-21 23:43] devhawk opened #644 "Is Nep11Token TokensOf method returning the right value?"
From NEP-11: `tokensOf` method "Returns an iterator that contains all of the token ids owned by the specified address"

The SmartContract Framework [Nep11Token class](https://github.com/neo-project/neo-devpack-dotnet/blob/master/src/Neo.SmartContract.Framework/Nep11Token.cs#L51) implements tokensOf like this:

[code]

The problem here is that the key of the Prefix_AccountToken StorageMap is not th

[2021-06-21 23:50] devhawk commented on #644
Note, I think UpdateBalance should be storing the tokenId as the value in the accountMap and TokensOf should be using FindOptions.ValuesOnly

[2021-06-22 06:51] #614 closed

[2021-06-22 06:57] erikzhang commented on #644
https://github.com/neo-project/neo/blob/0df7f5a7bd7171487c906792373d0d5fb37af3e8/src/neo/SmartContract/Iterators/StorageIterator.cs#L37-L38

The `owner` is removed from the key.

[2021-06-22 14:01] devhawk commented on #644
Having `prefix` as both a field and param name is confusing

[2021-06-22 14:01] #644 closed

[2021-06-22 15:56] roschler opened #645 "Compilation error: NC1002: Unknown method: object.Object()"
I am using the N3 plugin _ngd-seattle.neo-blockchain-toolkit_ v2.0.5 with C# and Visual Studio Code on Windows 11.  I am getting this error from _nccs_ v3.0.0.0-rc3:

NC1002: Unknown method: object.Object()

There is no line information or other details than that so I have no idea what the problem is.  This occurs using the command:

error MSB3073: The command "nccs --debug --no-optimize

[2021-06-22 17:33] roschler commented on #645
I progressively deleted blocks of code and the error happens when I try to create a new instance of the public C# class I created.

Can you create your own C# class objects in NEO smart contracts?  I get the error shown in my previous post if I don't comment out the "new ()" statement for that class in my smart contract.  The C# plugin does not flag it but _nccs_ doesn't like it and throws the abo

[2021-06-22 17:43] roschler commented on #645
I found the problem causing the error below.  The error happens if you add a call to base() in the constructor of your class object, something I do from years of habit so I never have to worry about failing to call the base class if I later make the class inherit from somewhere else.  The C# plugin and compiler ignores the call but nccs won't accept it. Still a nicer error message would be useful.

[2021-06-22 23:27] devhawk opened #646 "NEP11 NewTokenId method should take a ByteString parameter"
Using `Runtime.ExecutingScriptHash` as the base data for generating token IDs is hard to use during development when the executing script hash changes when the code changes. `NewTokenId` should have an overload where the base data ByteString can be specified by the caller, defaulting to Runtime.ExecutingScriptHash if not otherwise specified.

[code]

Proposed NewTokenId
[code]

[2021-06-23 00:00] devhawk opened #647 "How are NEP11 Tokens / TokensOf methods supposed to be invoked"
Can someone please share code demonstrating how to invoke a method that returns an `Iterator` such as NEP11 Tokens or TokensOf

[2021-06-23 02:08] ProDog commented on #647
[code]

[2021-06-23 10:11] chenzhitong opened #649 "Update to RC3 ?"
https://github.com/neo-project/neo-devpack-dotnet/blob/2bb2a3e24cf9243da5983d6eef9a0f710abbbd09/src/Neo.SmartContract.Template/templates/neocontract/ProjectName.csproj#L8

https://www.nuget.org/packages/Neo.SmartContract.Template/3.0.0-rc3
The version of "Neo.SmartContract.Framework" referenced in the RC3 contract template is the RC2 version.
![image](https://user-images.githubusercontent.com/6295

[2021-06-23 10:18] chenzhitong commented on #623
I see it has been published on June 3.

https://www.nuget.org/packages/Neo.SmartContract.Template/3.0.0-rc3

[2021-06-23 19:35] devhawk commented on #647
How are you supposed to get the results of the iterator out of the RpcInvokeResult?

The JSON returned from `invokescript` will include up to `RpcServerSettings.MaxIteratorResultItems`. Here's an example of the JSON returned from tokensOf for a NEP-11 sample I've built:

[code]

However, [`Utility.StackItemFromJson`](https://github.com/neo-project/neo-modules/blob/master/src/RpcClient/Utility.cs#L

[2021-06-23 19:42] devhawk commented on #647
It appears that I have to use `RpcClient.RpcSendAsync` and parse the resulting JSON manually.

[2021-06-23 19:42] devhawk opened #651 "Support Parsing retuned iterators in RpcClient"
See #647 for more details

[2021-06-23 19:44] devhawk opened #652 "Nep11API class for RpcClient"
RpcClient supports the NEP17 standard. It should also support the NEP11 standard. In particular, it should support parsing the iterator values returned from methods like `tokens` and `tokensOf`

See #647 for more details

[2021-06-23 20:19] devhawk commented on #647
Also, since the RPC server will only return the first `MaxIteratorResultItems` items in the JSON, how does one access additional items?

[2021-06-23 20:54] devhawk commented on #651
update proposal for StackItemFromJson

[code]

[2021-06-23 23:39] devhawk opened #653 "UpdateBalance and PostTransfer methods of Nep11Token class should be protected not private"

[2021-06-24 11:42] #649 closed

[2021-06-24 18:41] devhawk opened #655 "How to concat byteStrings in a contract?"
What is the right way to concatenate two ByteStrings into a single ByteString so that I can create a SHA256 hash from it? It doesn't appear byteStrings support the + operator directly. If you write `var combined = byteString1 + byteString2`, the resulting type is a string, since ByteString supports implicit converstion to string and string supports + operator. I know string is just a byteString un

[2021-06-24 20:05] devhawk opened #657 "nccs compiles contract that won't deploy"
If you have multiple events with colliding DisplayName, nccs doesn't report and error or warning, but the contract can't be deployed.

Example:

[code]

[2021-07-01 17:52] devhawk opened #659 "StorageMap.GetObject should return null if the key is missing"
GetObject throws if the key is missing. It should return null instead

[2021-07-07 04:25] #637 closed

[2021-07-07 04:27] #659 closed

[2021-07-07 17:24] devhawk opened #1273 "Passing an object instance w/ a `this` pointer to StdLib.Serialize crashes w/o explanation"
When a class has an instance method, the `nccs` compiler creates an array with an extra field to represent the `this` pointer. This field is another array with a single `Pointer` stack item. When the user passes an instance of this class to StdLib.Serialize, it throws in `Neo.SmartContract.BinarySerializer.Deserialize` without explanation.

Example:

[code]

[2021-07-07 21:28] devhawk opened #661 "nccs should not map "<string> += <string>" statement to OpCode.ADD"
C# developers are used to concatenating strings with the `+=` operator. However, `nccs` maps these operations to OpCode.ADD NeoVM instruction, regardless of the expression type.

`nccs` should either emit code to concatenate strings when the developer uses the `+=` operator or emit an error that concatenating strings this way is not supported in smart contracts

[2021-07-08 08:00] shargon commented on #661
@devhawk do you think that it's solved with https://github.com/neo-project/neo-devpack-dotnet/pull/656 ?

[2021-07-08 14:01] devhawk commented on #661
In RC3, I *think* the string add operator support is handled at the compiler level by [TryProcessSystemOperators](https://github.com/neo-project/neo-devpack-dotnet/blob/v3.0.0-rc3/src/Neo.Compiler.CSharp/MethodConvert.cs#L4241). Not sure you can (or should) add add/assignment operator support in the library. We should be consistent about where operator support is implemented.

[2021-07-09 16:27] devhawk opened #662 "Add UInt160 extension method "ToAddress" for debug/log purposes"

[2021-07-11 09:10] ediopia opened #664 "nccs should support #if Debug conditional compilation"
nccs can't detect #if Debug statement which neon/Neo.Compiler.MSIL compiler supports.

[2021-07-13 02:25] #661 closed

[2021-07-13 03:01] cloud8little opened #666 "UInt160/bytestring tostring method"
Sometimes we need to throw exceptions about the bytestring, and they can not be shown in string format.

[2021-07-14 07:38] #662 closed

[2021-07-16 08:53] cloud8little commented on #666
Though UInt160 tostring is resolved in https://github.com/neo-project/neo-devpack-dotnet/pull/665 , when bytestring length is not 20 bytes, it still can not be converted to string.

[2021-08-21 10:27] AllMT opened #672 "Cannot Call Method Neo.SmartContract.Manifest.ContractMethodDescriptor Of Contract 1 From Contract 2"
Seems like if a method does not have the [Safe] attribute it can not be called, keep getting "Cannot Call Method Neo.SmartContract.Manifest.ContractMethodDescriptor Of Contract 1 From Contract 2" error running it through NeoLine and neo-cli

But if it has the [Safe] attribute it can not do any saving/putting into storage,

What other attributes exist and when/how are they suppose to be used ?

[2021-08-21 10:51] #672 closed

[2021-08-23 07:55] RichardBelsum opened #674 "DisplayName attribute of Class is not available"
DisplayName attribute of Class is not available, by design?

[code]

[2021-08-24 09:57] shargon commented on #674
I tested it, and it works... :S

[2021-08-25 02:28] RichardBelsum commented on #674
I'm using nccs 3.0.2 version, was it fixed after that?

![image](https://user-images.githubusercontent.com/82148280/130716489-aa7e1568-2aa0-43cf-b6ed-a8e70d0fcb46.png)

[2021-08-25 03:08] cloud8little commented on #674
In https://github.com/neo-project/neo-devpack-dotnet/pull/607/files, the first priority is assembly name, use --contract-name xx to change the manifest name.

[2021-08-25 09:35] shargon commented on #652
Require https://github.com/neo-project/neo-modules/issues/629

[2021-08-27 15:28] roschler opened #676 "FEATURE: Add ToString() method to UInt160 type."
Currently, to convert a `UInt160` value to a string you can use with facilities like `Runtime.Log()`, you have to do this bit of trickery (thank you @Hal0x2328):
[code]
Where `value` is a `UInt1601 value.  I suggest making a `ToString()` method for the `UInt160` type so that it is easily discoverable by NEO developers.

[2021-09-09 10:40] #674 closed

[2021-10-05 20:30] luc10921 opened #681 "Operations regarding characters are not working as intended"
Using operations relating to characters is not working as intended, e.g.,:
[code]
Running the code above in C# results in:
[code]
However, when running the same code in Neo, it ends up considering the number of bytes instead of the number of characters, so, every time a char that is not present in the ASCII table is used, the behaviour will diverge from C#.
![image](https://user-images.githubuserc

[2021-10-06 08:38] shargon commented on #681
It seems that it works as a byte array inside the VM

[2021-10-06 16:08] lock9 commented on #681
Yes @shargon , that is the issue, however, it is possible for the compiler to fix this, by checking the byte value

[2021-10-07 08:27] shargon commented on #681
@lock9 how the compiler will distinguish between a string and a byte array without the type?

[2021-10-14 17:43] roschler opened #683 "C# plug-in and contract compiler does not flag use of the "dynamic" keyword."
The NEO N3 C# compiler does not issue any warnings when compiling code that contains use of the C# `dynamic` keyword.  The editor plug-in does not highlight it as an error either.  My understanding is that the `dynamic` keyword is unsupported.

[2021-10-15 20:43] devhawk opened #684 "NCCS raises nullable context error even when Nullable enabled in csproj file"
In C# proj file:

[code]

Command line:

[code]

The `warning CS8632` lines should not be appearing

[2021-10-15 21:35] devhawk opened #685 "NCCS not setting fields when using property initializer syntax"
I expected this to work:

[code]

However, when using this syntax, `Seller`, `Description` and `Token` fields were not initialized correctly. I suspect Buyer is only initialized correctly since it's being initialized to UInt160.Zero.

I had to resort to this sytnax:

[code]

If NCCS is not going to support property initializer syntax correctly, we should warn the developer or error out

[2021-10-16 08:58] shargon commented on #685
I will take a look

[2021-10-18 10:08] Hecate2 opened #686 "To remove duplicating entries of methods in `.manifest.json` when inheritance and override is specified in C# contract"
If inheritance and override is specified in a C# contract like this,
[code]
then NCCS would put two `transfer` json entries in `.manifest.json`. If a user deploys the `.nef` file with the `.manifest.json` using neo-cli, there can be a confusing error like this:
[code]
As an example to reproduce the problem, you may compile https://github.com/neoburger/code/blob/main/BurgerNEO.cs. Please remember t

[2021-10-18 11:16] shargon commented on #683
Could you send us an example, I receive an error:

```./TestClasses/Contract_Dynamic.cs(5,39): error CS1980: Cannot define a class or member that utilizes 'dynamic' because the compiler required type 'System.Runtime.CompilerServices.DynamicAttribute' cannot be found. Are you missing a reference?```

[2021-10-18 11:19] shargon commented on #686
I will take a look

[2021-10-19 22:51] #685 closed, assigned to erikzhang

[2021-10-20 17:48] devhawk commented on #647
Note, this issue may be a more specific duplicate of https://github.com/neo-project/neo-modules/issues/629

[2021-10-29 17:45] luc10921 opened #689 "Jagged Arrays"
Is it impossible to create jagged arrays? Trying to compile the following code:
[code]
results in:
[code]
Looking at the code at [MethodConvert](https://github.com/neo-project/neo-devpack-dotnet/blob/815c17f457783387da1cebbe6dcfbacd23961a7a/src/Neo.Compiler.CSharp/MethodConvert.cs) there are a lot of `if (numberOfArgumentsOrRanks != 1) {throw new CompilationException()}`. So is it by design to not

[2021-10-30 22:39] roadbuilder opened #690 "NEO GUI autogenerated abi can have different case than functions in CSharp"
I noticed that in C# the functions names are case-sensitive, but in the N3 GUI, the "abi" for the manifest file changes the first letter of the function name to lower case.. but only the first letter!
![image](https://user-images.githubusercontent.com/74831504/139560331-d897ec04-0143-46ee-b552-06f98b573c8c.png)
MINTTHISTHING has become mINTTHISTHING, and the MintThisThing now is a duplicate as it

[2021-11-01 20:47] devhawk commented on #684
Now it won't ever emit warnings, even if the user has explicitly opted-in to getting the warnings.

[2021-11-01 20:54] devhawk commented on #684
Further thoughts over on the PR : https://github.com/neo-project/neo-devpack-dotnet/pull/687#discussion_r740518411

[2021-11-02 04:18] erikzhang commented on #684
The users will get the warnings in IDE.

[2021-11-02 10:19] cloud8little opened #691 "Contract can not reference an extension outside its namespace"
For example, there is a common extension library which Contract A and Contract B both need. Currently the only way is to copy all the extension files to the contract project namespace.

[2021-11-03 04:07] erikzhang commented on #691
You can reference a library only if it contains source code. You can refer to the packaging method of Neo.SmartContract.Framework.

https://github.com/neo-project/neo-devpack-dotnet/blob/815c17f457783387da1cebbe6dcfbacd23961a7a/src/Neo.SmartContract.Framework/Neo.SmartContract.Framework.csproj#L16-L19

[2021-11-05 11:23] shargon commented on #691
A nuget with the source code will work?

[2021-11-05 11:49] erikzhang commented on #691
Yes.

[2021-11-09 18:10] #689 closed

[2021-11-12 00:16] #657 closed

[2021-11-14 23:51] ediopia opened #696 "Compiler ignores DisplayName for contract name"
It ignores [DisplayName("Contract name")] attributes and make class name as contract name.

[2021-11-15 08:59] shargon commented on #696
Please take a look to https://github.com/neo-project/neo-devpack-dotnet/issues/674

[2021-11-15 08:59] #696 closed

[2021-11-15 19:55] roschler opened #697 "Invoke files wizard does not show private methods when creating a new step. Also, letter case display issue."
When creating a new step for an invoke-file, the wizard only shows you the names of _public_ methods a smart contract has, not _private_ methods.  I can understand why this might seem proper, because only public methods would be invoked normally, but it does create a nuisance for testing in one specific, but common use case.

For smart contracts that receive payment for a variety of use cases, a t

[2021-11-15 20:08] roschler opened #698 "FEATURE SUGGESTION: Invoke wizard should show available method names in alphabetical order?"
Currently, when you add a step with the `invoke wizard`, it does not sort the available method names alphabetically.  For medium to large smart contracts with a lot of methods, it would be helpful if they were.  (see screenshot):

![image](https://user-images.githubusercontent.com/4660487/141846877-29130394-d3fb-4c18-a3de-13570cf3dba1.png)

[2021-11-15 20:24] roschler opened #699 "Suggestion: Copy the transaction result line to the TOP of the Visual Dev Tracker data inspector result?"
(moved to Visual Dev Track repo.  Please delete this issue.)

[2021-11-15 20:28] Liaojinghui commented on #699
This issue might be moved to another repo.

[2021-11-15 21:16] roschler commented on #699
@Liaojinghui Thanks.  Already moved to the Visual Dev Tracker repo as per Edge's suggestion on the discord.

[2021-11-15 21:16] #699 closed

[2021-11-24 03:13] roadbuilder opened #701 "Boolean ToString() function doesn't work"
when using a standard statement such as
[code]
it gets an odd error:
**Engine State Fault: An unhandled exception was thrown. The value 1 is out of range. [VMUnhandledException]**

A quick fix is to just use:
`String temp = b ? "True" : "False";`

But `ToString() `should work, and doesn't.
Also the `System.Boolean.TrueString` also seems to have a null value, instead of the value "True"
`Runtime.Lo

[2021-11-24 05:33] Liaojinghui opened #702 "Neo compiler does not support new C# features in dotnet6.0"
The compiler does not support new features that are added into C#.

for example

[code]

instead of:

[code]

[2021-11-25 05:56] erikzhang commented on #702
I think it is the new feature in C# 10, which has not been released yet.

[2021-11-25 09:24] #701 closed

[2021-11-29 03:22] #702 closed

[2021-12-02 03:21] Hecate2 opened #707 "Possibly the `for` loop initialization operation, such as `i=0` in `int i; for(i=0; ... ; ... ) { ... ; }`, is not compiled into the nef file"
For example, compile the following contract with Neo.Compiler.CSharp (nccs) 3.0.3, and focus on `ComputeMerkleTree` and `ComputeMerkleTreeRoot` methods
(the other methods are only for convenient use, not where the problem lies in)
[code]
In `ComputeMerkleTree`, I used `int i = 0;` before `for` loops to initialize the value of i, and everything works.

In `ComputeMerkleTreeRoot`, I used `int i; for

[2021-12-02 06:00] Liaojinghui commented on #707
tested on the most recent `neo-devpack-dotnet` https://github.com/neo-project/neo-devpack-dotnet/commit/c8ef9a84126c522bacfd4a94188a87b9f7b15ee4 , it works as expected.

[code]

[2021-12-02 07:54] Hecate2 commented on #707
Would you please consider trying this?
[code]
with its assembly as
[code]

[2021-12-02 11:39] shargon commented on #707
I think that it was fixed in https://github.com/neo-project/neo-devpack-dotnet/pull/708 , please check it

[2021-12-02 12:25] Hecate2 commented on #707
Seems OK. Thank you very much!

[2021-12-03 06:52] #707 closed

[2021-12-16 18:35] devhawk opened #709 "ByteString should have static Empty value, like UInt160.Zero and string.Empty"
When working in a nullable context, the C# compiler wants you to initialize values to a non-null value. but it's not clear how to initialize a ByteString in this context.

Example:

[code]

Options (today) include:
* `default!` (i.e. disable null checking for this field)
* `string.Empty` (there's an implicit conversion from string to ByteString)
* `(ByteString)new byte[]` (there's an explicit conv

[2021-12-19 11:33] #709 closed

[2021-12-24 22:29] devhawk opened #711 "NCCS doesn't support new C# 10 syntax for namespaces"
This is valid C# as of net6.0, but nccs doesn't support it:

[code]

[2021-12-24 22:55] Liaojinghui commented on #711
LOL, i thought you reopened my issue. https://github.com/neo-project/neo-devpack-dotnet/issues/702

[2021-12-26 17:38] devhawk commented on #711
Sorry, I should have searched for an existing issue - though I wouldn't have searched closed issues.

[2022-01-17 22:05] ediopia opened #715 "Floating-point math support"
I have to calculate ownership percentage for my defi contracts.
The current issue is VM cannot calculate float point.
Ex. (10 / 100 ) * 100 return 0
If dividend is smaller than divisor, it always returns 0 so I need to use my hack to calculate it.
It will be much easier we have a util for this.

[2022-01-17 23:40] Liaojinghui commented on #715
(10*100,000,000 /100)*100

[2022-01-19 07:01] RawichK opened #716 "neo.compiler.csharp using dotnet 5.0 which is incompatible with mac m1 chip"
Below is the console log when I tried to create smart contract using Neo Blockchain Toolkit for VS Code.
I search through Microsoft site already and found out that dotnet 5.0 for mac only got one option which is runtime for x64.
Therefore,  I would like to request a new version that support dotnet 6.0

Best regards,
Rawich Kiriyapong

Tool 'neo.express' (version '3.0.2') was restored. Available co

[2022-01-19 16:43] devhawk commented on #716
You need to upgrade to 3.1 version of neo tools for .NET 6 support. Neo Express 3.1.38 uses .NET 6.  However, there is an issue getting neo express to find the rocksdb library. For now, the workaround is:

1. Install the arm64 version of dotnet 6
2. install rocksdb via homebrew
3. create a symbolic link to /opt/homebrew/lib/librocksdb.dylib in /usr/local/lib. I used this command: l`n -s /opt/homeb

[2022-01-20 00:22] RawichK commented on #716
Thank you for your help. But I'm already on 3.1 version by checking with this command
`
~ » dotnet tool list -g
Package Id               Version      Commands
----------------------------------------------
neo.compiler.csharp      3.1.0        nccs
neo.express              3.1.38       neoxp
`

Above error was display when I create smart contract using neo blockchain toolkit extension for vs code.

[2022-01-20 02:54] RawichK commented on #716
After investigating for a while, I found the solution to this issue.
Generated project structure, configurations, and source code are target older version.
That's why even I got latest tool version the compiler throw errors.

Resolving steps are as follow.
1. remove test directory to make it more simple.
2. update dirs.proj file, remove this line `<Projects Include="test/HelloWorldContractTests.cs

[2022-02-21 17:57] roschler opened #717 "Rescope methods marked as "private protected" as "protected"
There are several methods marked as "private protected in the `TokenContract.cs` module (e.g. - `UpdateTotalSupply`, etc.).  Please redeclare these functions as simply "protected".  Currently they can not be used outside the assembly they reside in.  The scope declarations as is makes proper integration and debugging of that contract code awkward and unfriendly.

[2022-02-21 18:55] roschler opened #718 "Nep11Token Transfer method should thrown an exception if CheckWitness fails"
In the current implementation of `Nep11Token.cs` in the `Transfer()` method, that method returns FALSE if the `CheckWitness()` call fails.  This can lead to a silent failure if it occurs in an unexpected place.  Given that proper scoping and permissions is a complex, error prone field, please change the code in this method to throw an exception so that devs are immediately aware of the problem.

[2022-02-22 13:17] shargon commented on #717
Related to https://github.com/neo-project/neo-devpack-dotnet/pull/654

[2022-03-07 20:17] devhawk opened #719 "Enable shipping preview releases of NCCS"
The Neo Smart Contract Debugger just merged a [significant update](https://github.com/neo-project/neo-debugger/blob/master/docs/storage-schema-overview.md) into master. This update will provide a significantly improved experience for developers by automatically deserializing storage keys and items.

For this initial update, the update experience is driven by a hand-authored JSON file that describe

[2022-03-09 06:08] devhawk commented on #719
FYI, I'm doing the preview work in the [storage-schema-preview branch](https://github.com/ngdenterprise/neo-devpack-dotnet/tree/storage-schema-preview) of my devpack-dotnet fork. I've updated the [workflow](https://github.com/ngdenterprise/neo-devpack-dotnet/blob/storage-schema-preview/.github/workflows/main.yml) to use version `3.1.10xx-storage-schema-preview` where `xx` is the number of commits

[2022-03-09 12:05] #711 closed

[2022-03-10 23:49] devhawk opened #720 "--contract-name option no longer working"
PR #704 broke the `--contract-name` option. The point of the `--contract-name ` is to allow the build system to control the name of the output file.

[2022-03-10 23:49] devhawk opened #721 "Running nccs at master gives Unhandled Exception"
Unhandled exception: System.ArgumentException: The SetHandler call for command 'nccs' is missing an Argument or Option for the parameter at position 0. Did you mean to pass one of these?

   at System.CommandLine.Handler.GetValueForHandlerParameter[T](IValueDescriptor[] symbols, Int32& index, InvocationContext context)
   at System.CommandLine.Handler.<>c__DisplayClass4_0`4.<SetHandler>b__0(Invoca

[2022-03-10 23:53] devhawk commented on #721
Appears to be caused by the move to System.CommandLine Version 2.0.0-beta3 and the line

[code]

[2022-03-10 23:54] devhawk commented on #721
@shargon @erikzhang this appears to be from #713

[2022-03-10 23:57] devhawk commented on #721
Yes, reverting the command line package, the SetHandler call and the Handle method code to the previous commit seems to solve the issue

[2022-03-11 04:34] Liaojinghui commented on #721
This either be a bug or the new version does not support `string[]`. Suggest rollback `System.CommandLine`  @shargon

[2022-03-11 10:08] shargon commented on #721
If use `IEnumerable<string>` it works?

[2022-03-11 16:53] Liaojinghui commented on #721
Nope

[2022-03-11 22:59] #720 closed

[2022-03-17 06:31] erikzhang commented on #721
Revert? But sooner or later we will have to upgrade.

[2022-03-17 09:45] shargon commented on #721
Please check https://github.com/neo-project/neo-devpack-dotnet/pull/724

[2022-03-21 09:09] #721 closed

[2022-04-05 16:53] devhawk opened #725 "Add System.Runtime.GetAddressVersion to Smart Contract Framework"
Also add `UInt160.ToAddress` parameterless overload that uses System.Runtime.GetAddressVersion

[2022-04-13 00:17] devhawk opened #727 "nccs doesn't pick up SupportedStandards attribute from base class"
smart contract framework has a very useful `Nep17Token` class that developers can inherit from to build their own token in a very small amount of code. The abstract `Nep17Token` class carries the `[SupportedStandards(new string[] { "NEP-17" })]` attribute. However, the class that inherits from `Nep17Token` will not have NEP-17 in the `supportedstandards` field of the manifest unless the concrete t

[2022-04-13 01:17] erikzhang commented on #727
https://github.com/neo-project/neo-devpack-dotnet/blob/e1dae8f1f2ee066134d9e83539539c5c3fab19ec/src/Neo.Compiler.CSharp/CompilationContext.cs#L403

Normally, it should be able to obtain the attributes from the base classes.

[2022-04-13 15:29] devhawk commented on #727
I'm not sure why it didn't work, but I just tried it w/ nccs 3.1.

Code:
[code]

manifest:
[code]

[2022-04-13 18:09] Liaojinghui commented on #727
Well, it works fine in my machine

[code]

[2022-04-13 23:48] erikzhang commented on #727
@devhawk Did you test the master branch? 3.1.0 does not support it.

[2022-04-14 01:07] devhawk commented on #727
I did not. Will try with 3.2 when it ships

[2022-04-20 22:41] #725 closed

[2022-04-21 10:09] dusmart opened #729 "call for v3.2.1 native contract's method support"
CryptoLib add a method called murmur128 which could help us a lot. Please add it to devpack.

[2022-04-21 11:05] Liaojinghui commented on #729
Its a native contract method, just call it from native contact then CryptoLib.Murmur128

[2022-04-21 11:47] Liaojinghui commented on #729
Its murmur32, cause we already have sha256 and RIPEMD160，，，，adding murmur32 makes more sense.

[2022-04-21 12:29] #729 closed

[2022-04-24 18:08] devhawk opened #732 "Re-entrancy support for contracts with instance method operations"
NCCS introduced the ability to expose instance methods as operations, such as in this example code:

[code]

For public instance methods, NCCS will construct a [method forward](https://github.com/neo-project/neo-devpack-dotnet/blob/master/src/Neo.Compiler.CSharp/MethodConvert.cs#L195-L205) that constructs an instance of the contract object and then jumps to the instance method that represents the

[2022-04-24 22:59] erikzhang commented on #732
In this case even a static variable cannot hold its value. Because when an external contract calls this contract, a new `ExecutionContext` is created.

[2022-04-24 23:05] erikzhang commented on #732
To maintain state across callbacks, the current practice is to add a state parameter to the methods. For example, the `transfer` method of NEP-17 and the `onNEP17Payment` method.

[code]

In the above example, the `data` parameter is used to maintain state.

[2022-05-09 05:06] #732 closed

[2022-05-09 05:07] erikzhang commented on #727
Fixed by #705

[2022-05-09 05:07] #727 closed

[2022-05-09 05:16] erikzhang commented on #718
https://github.com/neo-project/proposals/blob/master/nep-11.mediawiki#transfer

The NEP-11 standard states that `false` should be returned in this case.

[2022-05-09 05:27] erikzhang commented on #716
I will close it since it seams a neo-express issue.

[2022-05-09 05:27] #716 closed

[2022-05-09 05:28] #653 closed

[2022-05-09 05:28] #717 closed

[2022-05-09 05:30] erikzhang commented on #715
Using floating point numbers in a blockchain is dangerous. Fixed-point numbers should be used.

[2022-05-09 05:34] #715 closed

[2022-05-09 05:35] #691 closed

[2022-05-09 05:39] erikzhang commented on #690
If you use `DisplayNameAttribute`, the first letter will not be changed. This is by design on purpose. This way you have full control over its name.

[2022-05-09 05:39] #690 closed

[2022-05-09 05:47] erikzhang commented on #686
I'm not sure in which PR it was fixed, but it should have been fixed.

[2022-05-09 05:47] #686 closed

[2022-05-09 06:03] erikzhang commented on #683
If you use dynamic on the return type, to the compiler, it is equivalent to returning an object.

[2022-05-09 06:17] #683 closed

[2022-05-09 06:24] erikzhang commented on #676
Now you can use `UInt160.ToAddress()` method.

[2022-05-09 06:24] #676 closed

[2022-05-09 06:27] erikzhang commented on #666
you can use `StdLib.Base64Encode()` method.

[2022-05-09 06:27] #666 closed

[2022-05-09 07:55] erikzhang commented on #652
This should be opened in neo-modules repo.

[2022-05-09 07:55] #652 closed

[2022-05-09 07:56] erikzhang commented on #651
This should be opened in neo-modules repo.

[2022-05-09 07:56] #651 closed

[2022-05-09 07:56] #647 closed

[2022-05-09 08:10] #655 closed

[2022-05-09 08:28] erikzhang commented on #641
Fixed by #670

[2022-05-09 08:28] #641 closed

[2022-05-09 08:32] #623 closed

[2022-05-09 08:33] #621 closed

[2022-05-09 08:34] erikzhang commented on #605
It should have been fixed.

[2022-05-09 08:34] #605 closed

[2022-05-09 08:35] erikzhang commented on #603
It should have been fixed.

[2022-05-09 08:35] #603 closed

[2022-05-09 08:35] erikzhang commented on #600
It should have been fixed.

[2022-05-09 08:35] #600 closed

[2022-05-09 08:38] erikzhang commented on #599
It should have been fixed.

[2022-05-09 08:38] #599 closed

[2022-05-09 12:05] #558 closed

[2022-05-09 12:07] #460 closed

[2022-05-09 12:09] erikzhang commented on #456
Now you can use the "storage-backed properties". See #745

[2022-05-09 12:09] #456 closed

[2022-05-09 19:05] devhawk commented on #716
Current version of Express supports apple silicon https://github.com/neo-project/neo-express#apple-silicon-support